<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>西迁精神跨越时空</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">西迁精神跨越时空</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020年04月30日 12:45:41   </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://www.jjjcb.cn/content/2020-05/16/node_2.htm" target="_blank">中国纪检监察报</a></span>
					<span class="author-name"><a href="#"  >&nbsp;&nbsp;&nbsp;&nbsp;文 |  田建军 赵美佳 </a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->


<!--				<div style="padding:8px 0;border-bottom:1px solid #ccc;font-size:14px;line-height:1.5;color:#666;">-->
<!--					<b>摘要：</b>疫情肆虐，人命关天。病毒是人类的共同敌人，全世界都应该携手共同应对疫情挑战。然而以美国为代表的西方一些政客和媒体不把精力放在抗击疫情上面，却费劲心机“甩锅”中国，编造了各种匪夷所思的谎言。一时间，谎言、谣传和阴谋论甚嚣尘上。来看看新冠肺炎疫情中关于中国的18个最常见谣言和事实真相。-->
<!--				</div>-->

				<div class="con_ban"><img src="../../images/patriotic_knowledge/article55.jpg" onerror="setDefaultImg(this);" /></div>
                <p style="TEXT-ALIGN: left" align="left">　　习近平总书记在西安交通大学考察时，亲切会见14位西迁老教授，重提轰轰烈烈的“西迁”壮举，勉励广大师生大力弘扬“西迁精神”，抓住新时代新机遇，到祖国最需要的地方建功立业，在新征程上创造属于我们这代人的历史功绩。</p>
              <br>  <p>　　轻以待己 重以报国</p>
                <p>　　1894年甲午战争中国失败，1895年《马关条约》的签订，中华民族到了最危险的时刻，面临“瓜分豆剖、亡国灭种”的惨祸，实业救国、教育救国的呼声风起云涌，正是在这样的时代背景之下，南洋公学于1896年宣告成立，后改为交通大学。124年来，交大学子始终与国家同呼吸、共命运，不畏牺牲，救国救民。</p>
                <p>　　党中央作出交大西迁的战略决策后，在物资极端困难的条件下，交大70%以上的教师、80%以上的学生，从繁华的黄浦江畔奔赴千里之外的大西北，仅仅一年，一所高等学府就在渭河之滨平地而建。周恩来总理在迁校会议上说交大是“一棵老树在上海60年生了根的大学”。当时交大老师的籍贯大多在江浙一带，生源地也以南方各省为主，有文字可考的系主任、教授中，80%左右来自于江苏、浙江、上海，他们长期生活在雨水充沛、气候湿润、四季如春的江南地区。在20世纪50年代，上海经济发达、交通便利、工业基础雄厚，学校教学设备先进，科研经费、基础设施建设经费充足，而西安地处内陆，干旱少雨、气候燥热，“马路不平、电灯不亮，晴天扬灰路，雨天水和泥”，经济落后、交通不便，教育经费相对短缺。但交大师生义无反顾参与西迁，开启了一段峥嵘岁月。“看看当年，也看到当年党中央的良苦用心，把一个最好的学校从上海迁到这里来。是为了什么呢？是为了我们整个中华民族、新中国发展，教育布局、工业布局，拉动西部的发展，做出了这样一个战略部署。”</p>
                <p>　　正因为深刻领悟了国家建设的战略设计和决策初衷，交大师生员工奋勇争先、积极报名，表现出了“舍小家、报国家”“到祖国最需要的地方去建功立业”的情怀。被誉为“中国真空电器之父”的王季梅教授，当时他的爱人刚做完脑瘤手术，身体极度虚弱，他完全有条件申请留在上海，但他听从党中央号召，踊跃报名随校西迁，第二年又将全家迁居到西安。还有不少老教授自愿放弃上海的优越生活，携儿带女或只身去西安。“哪里有事业，哪里有爱，哪里就是家”“党让我们去哪里，我们背上行囊就去哪里”，不是宣言，不是口号，而是熔铸在交大人血液里的自觉行动。在西迁过程中，没有中断任何教学，也没有迟滞一届招生，所有师生在简陋的校园里迅速开展教学科研，把西安交通大学建设成了屹立西北的一流学府。而留守上海的师生，同样实现了跨越式发展，把上海交通大学建设成为全国闻名的一流大学。不仅创造了中国高教史上的奇迹，更体现了一代代交大人的家国情怀和历史担当。</p>
                <br>  <p>　　扎根西部 立德树人</p>
                <p>　　对于中国特色社会主义高校来说，不仅存在怎样培养人的问题，更需要解决为谁培养人和培养什么样的人的根本问题。大学生群体历来是各种意识形态争夺的目标，而中国高校培养的学生，代表了国家的希望和未来。60多年前，时任上海市市长陈毅说过一句话，交通大学西迁成功不成功，要10年以后看。如今历史已经作出结论，西迁的交通大学，为西部大开发乃至全国，输送了27万名各类优秀人才，其中40%留在西部工作。许多学生正是在西迁精神的熏陶下，把国家和民族的需要当成自己的责任。</p>
                <p>　　1957年刚满38岁的陈学俊院士，是当时西迁教授中最年轻的一位，临行前，他与同在交大任教的夫人袁旦庆，将他们位于上海国际饭店后面的房子，无偿上交给上海市房管部门，带着4个孩子随校西迁。在随后的60年中，他瞄准世界前沿和国家需要，攻坚克难、潜心钻研，筹建了中国高校第一个工程热物理研究所，组建了中国第一个动力工程多相流国家重点实验室，是国内外享有盛誉的能源动力工程专家和教育家，为中国能源动力工程科学事业做出了杰出贡献，并为国家培养了大批的科研人才。许多交大教师都像陈学俊一样，扎根在西北大地，为一事、尽一生……一个个闪光的名字永远镌刻在交大西迁的史册上。一代骄子把自己最宝贵的青春留在了异乡，奉献给祖国的教育事业，奉献给国家现代化建设事业，他们始终将个人命运与国家前途、集体主义和共产主义、传承性和创新性相统一，成为“西迁精神”不可磨灭的注脚。</p>
                <p>　　这场中国高等教育负重前行的西迁，最终收获了累累硕果，彻底改变了西部没有规模宏大工业类院校的格局。“西交大起到了重大的作用，对西部大开发、对全国的经济发展布局，培养了很多人才，做出了很大的科技贡献。”</p>
                <br> <p>　　时代精神 绽放芳华</p>
                <p>　　近百年来，中国共产党领导中国人民为实现中华民族伟大复兴中国梦的历史进程中，把马克思主义基本原理与中国具体实际、发展阶段、时代特征相结合，不断创造出引领社会进步的精神价值体系，凝聚力量、鼓舞人心。西迁精神是在社会主义建设蓬勃发展阶段，交大人响应党的号召，打起背包就出发，从上海迁至西安，在创造中国高教史上的奇迹中孕育和形成的一种宝贵的精神财富。它和红船精神、井冈山精神、长征精神、延安精神、西柏坡精神、雷锋精神、两弹一星精神、大庆精神、焦裕禄精神等，共同形成了中国共产党人的精神谱系。2005年12月6日，西迁精神被概括为“胸怀大局，无私奉献，弘扬传统，艰苦创业”16个字。习近平总书记指出：“‘西迁精神’的核心是爱国主义，精髓是听党指挥跟党走，与党和国家、与民族和人民同呼吸、共命运，具有深刻现实意义和历史意义。”</p>
                <p>　　西迁精神及其背后的故事跨越时空，至今依然让人热血沸腾，激励着当代青年奋斗前行，激励鞭策着一代又一代知识分子，要做国家和民族的脊梁。2017年12月，习近平总书记向当年响应国家号召、献身大西北建设的交大老教授们致以崇高的敬意，祝大家健康长寿、晚年幸福。并在2018年新年贺词中再次提到交大西迁的老教授们：“他们的故事让我深受感动。”</p>
                <p>　　伟大时代赋予伟大精神新内涵。站在“两个一百年”奋斗目标的历史交汇点上，继承和发扬西迁精神，就是要大力发扬爱国主义精神，把握历史机遇，增强文化自信，激励奋斗精神，再创卓越功绩。一方面，致力于建设面向世界科技前沿、面向经济主战场、面向国家重大需求的世界一流高校。在国之重器的研发上，在“一带一路”建设的推进中，在为社会主义现代化强国提供技术支撑和智力支持中，再创历史辉煌。另一方面，要坚持以马克思主义为指导，推动中华优秀传统文化创造性转化、创新性发展，继承革命文化，发展社会主义先进文化，不忘本来、吸收外来、面向未来，更好构筑中国精神、中国价值、中国力量，进一步坚定“四个自信”，为新时代创造中国高等教育新辉煌作出贡献。</p>
<!--                <p>　　（田建军 赵美佳 作者单位：西安交通大学马克思主义学院）</p>-->

<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A" target="_blank">中国共产党</a></li>
                        <li class="transition"><a href="https://baike.baidu.com/item/%E7%BA%A2%E8%89%B2%E5%9F%BA%E5%9B%A0" target="_blank" >红色基因</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E8%A5%BF%E8%BF%81%E7%B2%BE%E7%A5%9E" target="_blank">西迁精神</a></li>

<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E4%BA%95%E5%86%88%E5%B1%B1%E9%81%93%E8%B7%AF?fromtitle=%E4%BA%95%E5%86%88%E5%B1%B1%E7%B2%BE%E7%A5%9E&fromid=673215" target="_blank">井冈山精神</a></li>-->

						<li class="transition"><a href="https://baike.baidu.com/item/%E8%A5%BF%E5%AE%89%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%A6?fromtitle=%E8%A5%BF%E5%AE%89%E4%BA%A4%E5%A4%A7&fromid=13345631" target="_blank">西安交通大学</a></li>
<!--						<li class="transition"><a href="#" >防护物资</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%9B%9B%E4%B8%AA%E8%87%AA%E4%BF%A1" target="_blank">四个自信</a></li>
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E5%85%A8%E9%9D%A2%E4%BB%8E%E4%B8%A5%E6%B2%BB%E5%85%9A?fromtitle=%E4%BB%8E%E4%B8%A5%E6%B2%BB%E5%85%9A&fromid=9637484" target="_blank">从严治党</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%89%E5%A4%A7%E6%94%BB%E5%9D%9A%E6%88%98" target="_blank">三大攻坚战</a></li>-->
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E6%94%B9%E9%9D%A9%E5%88%9B%E6%96%B0" target="_blank">改革创新</a></li>-->
						<li class="transition"><a href="https://baike.baidu.com/item/%E7%BA%A2%E8%89%B2%E6%96%87%E5%8C%96" target="_blank">红色文化</a></li>
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="article7.html" target="_blank"><img src="../../images/54yundong.jpg"></a>
                        </div>
                        <a href="article7.html" class="transition" target="_blank">五四运动在中共党史研究中的地位</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article6.html" target="_blank"><img src="../../images/jingjizhidu.jpg"></a>
                        </div>
                        <a href="article6.html" class="transition" target="_blank">我国基本经济制度具有显著优势的原理</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
                        </div>
                        <a href="article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article2.html" target="_blank"><img src="../../images/makesi.jpg"></a>
                        </div>
                        <a href="article2.html" class="transition" target="_blank">推进马克思主义本土化大众化</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article3.html" target="_blank"><img src="../../images/dangdetizhiyoushi.jpg"></a>
                        </div>
                        <a href="article3.html" class="transition" target="_blank">中国疫情防控彰显党的体制优势</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article4.html" target="_blank"><img src="../../images/hongsejiyin.jpg"></a>
                        </div>
                        <a href="article4.html" class="transition" target="_blank">传承红色基因    汇聚复兴伟力</a>
                    </li>
<!--                    <li>-->
<!--                        <div class="hot-article-img">-->
<!--                            <a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                        </div>-->
<!--                        <a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                    </li>-->
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

