<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>五四运动在中共党史研究中的地位</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">五四运动在中共党史研究中的地位</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020年05月02日 09:38   </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://www.cntheory.com/" target="_blank">理论网</a></span>
					<span class="author-name"><a href="#"  >&nbsp;&nbsp;&nbsp;&nbsp;  范景鹏 </a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->


<!--				<div style="padding:8px 0;border-bottom:1px solid #ccc;font-size:14px;line-height:1.5;color:#666;">-->
<!--					<b>摘要：</b>疫情肆虐，人命关天。病毒是人类的共同敌人，全世界都应该携手共同应对疫情挑战。然而以美国为代表的西方一些政客和媒体不把精力放在抗击疫情上面，却费劲心机“甩锅”中国，编造了各种匪夷所思的谎言。一时间，谎言、谣传和阴谋论甚嚣尘上。来看看新冠肺炎疫情中关于中国的18个最常见谣言和事实真相。-->
<!--				</div>-->

<!--				<div class="con_ban"><img src="../../images/patriotic_knowledge/article6.jpg" onerror="setDefaultImg(this);" /></div>-->
                <p><font style="font-size: 12pt">　　1942年3月，毛泽东在中央学习组指导学习研究中共党史时明确指出，我们研究党史，只从1921年起还不能完全说明问题，恐怕要有前面这部分的材料说明共产党的前身。这前面的部分扯远了嫌太长，从辛亥革命说起差不多，从五四运动说起可能更好。中国共产党成立的思想、干部、阶级条件都是在五四运动期间奠定的。</font></p>
                <p><font style="font-size: 12pt">　　中国共产党成立的思想条件，肇始于马克思主义在中国获得广泛传播的五四时期。1915年的新文化运动成为20世纪中国的第一次巨大的思想解放运动。各种新思想大举输入和引进，各种主义竞相争艳，开阔了人们的眼界，冲破传统思想的禁锢，拉开了思想解放的闸门。俄国十月革命的一声炮响，给我们送来了马克思列宁主义。早在五四运动发生的前一年李大钊就发表《法俄革命之比较观》，指出俄国十月革命是“世界的新文明之曙光”，同年还写有《庶民的胜利》《布尔什维主义的胜利》，热烈赞扬十月革命，指出无产阶级的社会主义革命是世界历史的潮流。</font></p>
                <p><font style="font-size: 12pt">　　五四运动刚爆发时，李大钊分两期在《新青年》上发表《我的马克思主义观》一文，系统地介绍了马克思主义的唯物史观、政治经济学和科学社会主义的基本原理，标志着马克思主义在中国进入比较系统的传播阶段。这一时期，《新青年》《每周评论》《民国日报》等一批报刊纷纷发表宣传马克思主义的文章。据统计，五四运动时期在报刊上发表的介绍马克思主义的文章多达200多篇，其中很大一部分是马克思、恩格斯的著作译文，这样集中地介绍一种思想理论，在中国近代报刊史上是罕见的。五四运动前兴起的新文化运动，已经发展成为以传播马克思主义为中心的思想运动。</font></p>
                <p><font style="font-size: 12pt">　　中国共产党成立的干部条件，肇始于有共产主义思想的先进分子大量涌现的五四时期。俄国十月革命的胜利，使长期饱受帝国主义欺侮而又在反帝斗争中屡遭失败的中国人民增强了斗争的勇气和必胜的信心。一批激进民主主义的青年知识分子逐渐放弃了过去信仰的资产阶级民主主义，接受了马克思列宁主义，转变成信仰马克思主义的具有初步共产主义思想的知识分子。</font></p>
                <p><font style="font-size: 12pt">　　新文化运动的发起者、“五四运动的总司令”陈独秀经历了这一转变，成为马克思主义的积极传播者。1919年12月，他在《告北京劳动界》中指出：18世纪的民主，是资产阶级向封建主义作斗争的旗帜；20世纪的民主，乃是无产阶级向资产积极作斗争的旗帜。五四前后，毛泽东两次到北京，热心阅读关于十月革命的书籍和马克思主义著作。他主编的《湘江评论》在五四运动后，热情歌颂俄国十月革命。五四期间，周恩来成为天津学生界的领导人，主编《天津学生联合会报》和《觉悟》，并发起成立觉悟社，介绍和研究新思潮。1920年11月，前往欧洲留学，通过对西方资本主义国家的实地考察和对各种学说的比较和选择，也开始转变为马克思主义者。</font></p>
                <p><font style="font-size: 12pt">　　同一时期，参加过辛亥革命的董必武、林祖涵、吴玉章等一批先进分子，以及蔡和森、瞿秋白、恽代英、李达、邓中夏、赵世炎、向警予、王尽美、邓恩铭等进步青年，结合辛亥革命的失败和五四运动的经历，通过学习马克思主义，及“与劳工为伍”的实践，在思想感情上发生了深刻的变化，逐步锻炼成为无产阶级的先锋战士。</font></p>
                <p><font style="font-size: 12pt">　　中国共产党成立的阶级条件，肇始于无产阶级登上历史舞台的五四时期。中国无产阶级深受帝国主义、封建主义、官僚资本主义的三重压迫，因而“在革命斗争中，比任何别的阶级来的坚决和彻底”；中国无产阶级从破产农民出身的占多数，和农民及其他劳动群众存在天然联系，使得占人口绝大多数的农民成为工人阶级的坚固的同盟军，便于发动和组织其他劳动群众参加反帝反封建的革命斗争。五四运动前后正酝酿着先进力量的更换，中国工人阶级以巨大的声势参加了反帝爱国斗争，在运动中发挥了主力军的作用，对斗争的胜利起到了决定性的作用，开始作为一支独立的政治力量登上历史舞台。民众的力量得到了广泛的发动，改变了以往只有觉悟的革命者而缺少觉醒的人民大众的斗争状况，体现出人民群众在民族复兴斗争中的主体地位和作用。无产阶级能够领导中国人民完成反帝反封建的任务，求得民族独立和人民解放，成为中国革命的领导阶级，从而使中国革命的性质开始发生重大的转变，具有新民主主义革命的基本内涵。</font></p>
                <p><font style="font-size: 12pt">　　马克思主义的生命力，在于同社会实践紧密地结合在一起，能够为人民认识真理指明方向和开辟前进的道路。中国的先进知识分子是把马克思主义作为观察国家命运和改造社会的武器加以接受的，他们一旦掌握马克思主义基本原理，就以此为指导，积极投身到群众中去，深入工厂、矿山、铁路、农村等地进行社会调查，并用通俗易懂的语言向工人宣传马克思主义，发动和组织工人运动，筹备成立工人组织。注意同实际结合，同群众结合，这是马克思主义在中国传播一开始就具有的特点和优点。“理论一经掌握群众，也会变成物质力量”。马克思主义与工人运动的进一步相结合，必然会产生无产阶级的政党。</font></p>

<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E4%BA%94%E5%9B%9B%E8%BF%90%E5%8A%A8/291670" target="_blank">五四运动</a></li>
                        <li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A%E5%8E%86%E5%8F%B2/19830644?fromtitle=%E4%B8%AD%E5%85%B1%E5%85%9A%E5%8F%B2&fromid=4853087" target="_blank" >中共党史</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A?fromtitle=%E4%B8%AD%E5%85%B1&fromid=10870408" target="_blank">中国共产党</a></li>

						<li class="transition"><a href="https://baike.baidu.com/item/%E6%97%A0%E4%BA%A7%E9%98%B6%E7%BA%A7%E6%94%BF%E5%85%9A" target="_blank">无产阶级政党</a></li>

						<li class="transition"><a href="https://baike.baidu.com/item/%E9%A9%AC%E5%85%8B%E6%80%9D%E4%B8%BB%E4%B9%89" target="_blank">马克思主义</a></li>
<!--						<li class="transition"><a href="#" >防护物资</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%9D%8E%E5%A4%A7%E9%92%8A" target="_blank">李大钊</a></li>
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E5%85%A8%E9%9D%A2%E4%BB%8E%E4%B8%A5%E6%B2%BB%E5%85%9A?fromtitle=%E4%BB%8E%E4%B8%A5%E6%B2%BB%E5%85%9A&fromid=9637484" target="_blank">从严治党</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%89%E5%A4%A7%E6%94%BB%E5%9D%9A%E6%88%98" target="_blank">毛泽东</a></li>-->
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E6%94%B9%E9%9D%A9%E5%88%9B%E6%96%B0" target="_blank">改革创新</a></li>-->
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E7%BA%A2%E8%89%B2%E6%96%87%E5%8C%96" target="_blank">红色文化</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
                        </div>
                        <a href="article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article2.html" target="_blank"><img src="../../images/makesi.jpg"></a>
                        </div>
                        <a href="article2.html" class="transition" target="_blank">推进马克思主义本土化大众化</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article3.html" target="_blank"><img src="../../images/dangdetizhiyoushi.jpg"></a>
                        </div>
                        <a href="article3.html" class="transition" target="_blank">中国疫情防控彰显党的体制优势</a>
                    </li>
<!--                    <li>-->
<!--                    	<div class="hot-article-img">-->
<!--                        	<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/191327154498.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                    	</div>-->
<!--                    	<a href="#" class="transition" target="_blank">顺丰，菜鸟，令狐冲，岳不群</a>-->
<!--               		</li>-->
<!--                    <li>-->
<!--                    	<div class="hot-article-img">-->
<!--                        	<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                    	</div>-->
<!--                    	<a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                	</li>-->
<!--                    <li>-->
<!--                        <div class="hot-article-img">-->
<!--                            <a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                        </div>-->
<!--                        <a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="hot-article-img">-->
<!--                            <a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                        </div>-->
<!--                        <a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                    </li>-->
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

