<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>中国疫情防控彰显党的体制优势</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">中国疫情防控彰显党的体制优势</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020年04月10日08:19 </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://cpc.people.com.cn/" target="_blank">中国共产党新闻网</a></span>
					<span class="author-name"><a href="#"  >&nbsp;&nbsp;&nbsp;&nbsp;文 | 易一平 </a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->


<!--				<div style="padding:8px 0;border-bottom:1px solid #ccc;font-size:14px;line-height:1.5;color:#666;">-->
<!--					<b>摘要：</b>疫情肆虐，人命关天。病毒是人类的共同敌人，全世界都应该携手共同应对疫情挑战。然而以美国为代表的西方一些政客和媒体不把精力放在抗击疫情上面，却费劲心机“甩锅”中国，编造了各种匪夷所思的谎言。一时间，谎言、谣传和阴谋论甚嚣尘上。来看看新冠肺炎疫情中关于中国的18个最常见谣言和事实真相。-->
<!--				</div>-->

				<div class="con_ban"><img src="../../images/patriotic_knowledge/article33.jpg" onerror="setDefaultImg(this);" /></div>

                <div class="show_text">
                    <p style="text-indent: 2em">
                    面对这次来势凶猛的新冠肺炎疫情，在习近平总书记和党中央的坚强领导下，举国上下同时间赛跑、与病魔较量，从中央到地方、从机关到基层、从城市到乡村、从内陆到边疆等各条战线、各个领域、各个方面，紧急行动、全力奋战、英勇奋战、团结奋战，打响了疫情防控的人民战争、总体战、阻击战，形成了全面动员、全面部署、全面加强疫情防控工作的战略格局，充分彰显我们党决策果断、全民动员、举国攻坚的体制优势。</p>
                    <p style="text-indent: 2em">
                        <br><strong>这一优势充分体现在决策果断上</strong></p>
                    <p style="text-indent: 2em">
                        沧海横流显砥柱，万山磅礴看主峰。疫情发生后，习近平总书记高度重视，时时刻刻关注疫情形势，每天都作出重要指示和批示，多次主持召开会议、多次听取汇报、多次调研指导、多次发表重要讲话，为全党全军全国人民坚决打赢疫情防控的人民战争、总体战、阻击战指引了正确方向、提供了根本遵循、注入了强大力量、坚定了必胜信心。</p>
                    <p style="text-indent: 2em">
                        危机之时，每一个高瞻远瞩的判断、每一次审时度势的决策，需要巨大的政治勇气，更需要高超的政治智慧。以习近平同志为核心的党中央本着对国家负责、对人民负责、对历史负责的政治态度，果断要求湖北省对人员外流实施全面严格管控，坚定坚决把疫情防控工作作为党和国家的头等大事，及时提出坚定信心、同舟共济、科学防治、精准施策的总要求，明确坚决遏制疫情蔓延势头、坚决打赢疫情防控阻击战的总目标，依法将新冠肺炎纳入乙类传染病、采取甲类措施严格管理，提出早发现、早报告、早隔离、早治疗的防控要求和集中患者、集中专家、集中资源、集中救治的救治要求，成立中央应对疫情工作领导小组，派出中央赴湖北指导组，要求国务院联防联控机制充分发挥协调作用，有力遏制了疫情扩散蔓延势头，实现了疫情防控形势的大逆转。根据疫情防控和经济形势的阶段性变化，党中央立即作出统筹推进疫情防控和经济社会发展工作的重大决策部署，积极有序推进企事业单位复工复产，因地制宜全面恢复生产生活秩序，努力把疫情造成的损失降到最低限度。</p>
                    <p style="text-indent: 2em">
                        <br> <strong>这一优势充分体现在全民动员上</strong></p>
                    <p style="text-indent: 2em">
                        只有具备强大的组织动员能力，才能够在全国范围动员起巨大力量、汇聚起强大合力。在这场严峻斗争中，习近平总书记和党中央一声号令，全党460多万个基层党组织、9000多万名党员、全国14亿人民全面行动起来，同心同德、齐心协力，构筑起与疫情斗争的人民防线，一场力度空前的抗击疫情人民战争在神州大地打响。</p>
                    <p style="text-indent: 2em">
                        各级党组织和政府主动担当、守土负责，采取严格管用有效、针对性操作性强的措施，构建联防联控、群防群控防控体系，筑就疫情防控的铜墙铁壁。乡镇街道、村社区疫情防控细胞全面激活，在控制传染源、切断传播途径上用力用劲，强化网格化管理，实施地毯式排查，加强重点群体管控，组织数以千万计可能存在风险人员进行居家隔离，许多潜在风险被迅速发现和消除。公立医院对数万名患者集中收治，对重病患者实行一人一案全力救治，在提高收治率和治愈率、降低感染率和病亡率上挑大梁、担重任。中央企业和地方国有企业克服种种困难迅速复工复产，成为抗疫药品、医用物资生产供应的主力军，非公有制企业主动承担社会责任，以各种方式支持疫情防控。</p>
                    <p style="text-indent: 2em">
                        在这场抗击疫情的人民战争中，党员干部挺身而出，冲锋在第一线、战斗在最前沿；医务工作者日夜奋战，把危险留给自己、把希望留给患者；人民解放军指战员闻令而动、敢打硬仗，人民群众众志成城、守望相助，公安干警、疾控工作人员、社区工作人员坚守岗位、日夜值守，新闻工作者不畏艰险、深入一线，环卫工人不避风险，运输人员日夜兼程，快递员四处奔波，志愿者真诚奉献……一幕幕场景令人感动，宏伟壮观、震撼人心、催人奋进。</p>
                    <p style="text-indent: 2em">
                        正是有9000多万名共产党员、14亿人民的勠力同心、全力应对，心往一处想、劲往一处使，拧成一股绳、下好一盘棋，凝聚起排山倒海、共克时艰抗击疫情的磅礴伟力。这既是我们党强大组织动员能力的体现，也是社会主义核心价值观精神内核的体现。中国共产党如此强大、高效的社会动员和组织能力，令一些世界组织领导人赞叹不已。世界卫生组织总干事谭德塞称赞说，中国行动速度之快、规模之大，世所罕见；中国体制之有力和中国举措之有效世所罕见，令人钦佩。联合国秘书长古特雷斯也指出，在习近平主席亲自领导下，中国举国动员应对严峻挑战。</p>
                    <p style="text-indent: 2em">
                        <br>  <strong>这一优势充分体现在举国攻坚上</strong></p>
                    <p style="text-indent: 2em">
                        湖北和武汉是疫情防控的重中之重，武汉胜则湖北胜，湖北胜则全国胜。在习近平总书记和党中央的坚强领导下，举全国之力攻坚克难、决战决胜，集中力量打好湖北保卫战、武汉保卫战。迅速组织全国各地300多支医疗队、4万多名医护人员驰援武汉、驰援湖北；动员各方力量夜以继日建设火神山、雷神山医院，分秒必争改造方舱医院，快速实现“人等床”到“床等人”；多措并举保障物资供应，截至3月19日，全国各地向湖北运送防疫物资和生活物资超过83万吨，运送电煤、燃油等生产物资140多万吨。</p>
                    <p style="text-indent: 2em">
                        疫情防控关乎生命。全国各地开足马力，全力支持医用防护服、口罩等疫情防控急需医疗物资的生产企业迅速复工达产、多种方式扩大产能和增加产量。疫情暴发初期，全国防护服日产量不足2万件，目前已达到50万件；2月29日全国口罩日产量达到1.16亿只，是2月1日的12倍。集中多学科力量加快科研攻关，组建国家科研攻关专家组，加强传染源、传播致病机理等理论研究，加大药品和疫苗研发力度，重组新冠疫苗于3月16日获批启动临床试验。</p>
                    <p style="text-indent: 2em">
                        一个民族的生命力在面对磨难和灾害时得到锤炼，一个国家的治理体系和治理能力在面对风险挑战中经受检验。中国人民在抗击疫情大战中展现的中国力量、中国精神、中国效率，是党的体制优势的集中体现。只有社会主义中国，才能调动一切可调动的资源，动员一切可动员的力量，创造出这样的大团结、大协作模式。实践证明，我们党决策果断、全民动员、举国攻坚的体制优势，是应对大风大浪、抵御风险挑战，推动中华民族不断发展壮大的关键所在。</p>

                </div>


<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A" target="_blank">中国共产党</a></li>
                        <li class="transition"><a href="#" >体制优势</a></li>
						<li class="transition"><a href="http://www.xinhuanet.com/politics/xxgzbdgrdfyyq/index.htm" target="_blank">抗击疫情</a></li>

<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E5%AE%9E%E8%B7%B5%E8%AE%BA" target="_blank">实践论</a></li>-->

<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E9%A9%AC%E5%85%8B%E6%80%9D%E4%B8%BB%E4%B9%89%E5%A4%A7%E4%BC%97%E5%8C%96%E7%A0%94%E7%A9%B6/9202649" target="_blank">马克思主义大众化</a></li>-->
<!--&lt;!&ndash;						<li class="transition"><a href="#" >防护物资</a></li>&ndash;&gt;-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E9%A9%AC%E5%85%8B%E6%80%9D%E4%B8%BB%E4%B9%89%E6%9C%AC%E5%9C%9F%E5%8C%96%E7%9A%84%E7%90%86%E8%AE%BA%E4%B8%8E%E5%AE%9E%E8%B7%B5" target="_blank">马克思主义本土化</a></li>-->
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%96%E7%95%8C%E7%BB%8F%E6%B5%8E/244908" target="_blank">世界经济</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%96%B0%E5%9E%8B%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%E7%96%AB%E8%8B%97?fromtitle=%E6%96%B0%E5%86%A0%E7%96%AB%E8%8B%97&fromid=24611354" target="_blank">疫苗</a></li>-->
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E5%9C%B0%E5%9F%9F%E6%AD%A7%E8%A7%86" target="_blank">地域歧视</a></li>-->
<!--						<li class="transition"><a href="http://news.sina.com.cn/o/2020-05-10/doc-iircuyvi2341005.shtml" target="_blank">阴谋论</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="article2.html" target="_blank"><img src="../../images/makesi.jpg"></a>
                        </div>
                        <a href="article2.html" class="transition" target="_blank">推进马克思主义本土化大众化</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article4.html" target="_blank"><img src="../../images/hongsejiyin.jpg"></a>
                        </div>
                        <a href="article4.html" class="transition" target="_blank">传承红色基因    汇聚复兴伟力</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
                        </div>
                        <a href="article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article5.html " target="_blank"><img src="../../images/xiqianjingshen.jpg"></a>
                        </div>
                        <a href="article5.html" class="transition" target="_blank">西迁精神跨越时空</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article6.html" target="_blank"><img src="../../images/jingjizhidu.jpg"></a>
                        </div>
                        <a href="article6.html" class="transition" target="_blank">我国基本经济制度具有显著优势的原理</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="article7.html" target="_blank"><img src="../../images/54yundong.jpg"></a>
                        </div>
                        <a href="article7.html" class="transition" target="_blank">五四运动在中共党史研究中的地位</a>
                    </li>
<!--                    <li>-->
<!--                        <div class="hot-article-img">-->
<!--                            <a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                        </div>-->
<!--                        <a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                    </li>-->
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

