<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>战“疫”一线的天大人</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">战“疫”一线的天大人</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020-02-26 </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://news.tju.edu.cn/" target="_blank">天津大学新闻网</a></span>
					<span class="author-name"><a href="http://www.tju.edu.cn/" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;天津大学</a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
				<article class="article" id="mp-editor">
					<!-- 政务处理 -->
                    <p class="vsbcontent_start">曾经有这样一批人，怀着对健康事业的追求和梦想，选择了药学专业潜心求学；如今有这样一批人，在这场没有硝烟的战“疫”中，扎根一线、坚守岗位。</p>
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/5/28/29/716BE778DF2DBF2809F0A79BFE3_A7456D73_2CFBF.jpg" vwidth="600" vheight="" vurl="/_vsl/52829716BE778DF2DBF2809F0A79BFE3/A7456D73/2CFBF" vsbhref="vurl" orisrc="/__local/5/28/29/716BE778DF2DBF2809F0A79BFE3_A7456D73_2CFBF.jpg" class="img_vsb_content"></p>
                    <p><strong>刘人鹤 奋战在科研第一线</strong></p>
                    <p>刘人鹤，天津大学药学院2002级本科生，前任院长赵康教授课题组学生，现任全球健康药物研发中心（Global Health Drug Discovery Institute, GHDDI) 副主任研究员。</p>
                    <p>全球健康药物研发中心是由清华大学，比尔及梅琳达·盖茨基金会，北京市政府联合成立的一个独立运营、非营利性质的全球公共卫生与药物创新机构。自疫情出现一直进行开发新型冠状病毒的治疗方法，调动更多的资源，使用药物再利用的方法，研究已知的药物，提供一些治疗选择。目前有十多个针对主要传染病的研究项目正在筹备中，还没有药物处于临床试验或上市。中心现在正在向所有科学家提供其研究平台，包括高通量筛选平台，多个化合物库，以及人工智能药物发现和大数据平台。为了加快针对新型冠状病毒疾病的药物发现进程，刘人鹤博士所在的研究所免费向所有从事新冠病毒研究的人员提供所有的资源，以期更快的研发出治疗药物。</p>
                    <br> <p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/6/1D/DC/47D0AAC16C0F0EAEFB69052E374_5C033895_3AA6F.jpg" vwidth="600" vheight="" vurl="/_vsl/61DDC47D0AAC16C0F0EAEFB69052E374/5C033895/3AA6F" vsbhref="vurl" orisrc="/__local/6/1D/DC/47D0AAC16C0F0EAEFB69052E374_5C033895_3AA6F.jpg" class="img_vsb_content"></p>
                    <p><strong>赵亚林 要有勇挑重担的决心</strong></p>
                    <p>天津大学药学院2007级本科生、药学院学工办主任、团委书记赵亚林，自2019年10月起在东丽区基层社区挂职锻炼。自疫情开始以来，始终坚守一线，抗击疫情。1月23日至今，赵亚林已连续在岗34天，期间，他担任街防控工作领导小组成员、办公室主任，负责街防控工作的日常事务，及时做好上情下达、下情上报工作，推动落实区防控指挥部的各项工作部署。</p>
                    <p>他组织排查街道重点关注对象情况并制作各类人员台账，统计各工作组和成员单位的动态数据和工作进度，制作《街防控工作日报》，为街主要领导决策提供参考依据。此外，他全力做好沟通协调工作，紧密联系各工作组、各社区，及时汇总疑难杂症，尽快予以解决。</p>
                    <p>无论是身处象牙塔，还是走进群众中，赵亚林同志都能做到爱岗敬业，勇挑重担。在他心中，教育学生与服务群众的本质是相同的，那就是以真心换真心。时刻牢记党赋予的使命，永远不忘爱生为民之初心，前进的路上，花开满地。</p>
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/0/41/7F/6D9BF2AAE3E2B544C2C6FC3059F_DDC8434A_27741.jpg" vwidth="600" vheight="" vurl="/_vsl/0417F6D9BF2AAE3E2B544C2C6FC3059F/DDC8434A/27741" vsbhref="vurl" orisrc="/__local/0/41/7F/6D9BF2AAE3E2B544C2C6FC3059F_DDC8434A_27741.jpg" class="img_vsb_content"></p>
                    <p><strong>丁月旭 让每一份捐赠都落到实处</strong></p>
                    <p>丁月旭，天津大学药学院2003级本科生、2007级硕士生，是苏艳芳教授课题组学生，现任重庆市公共卫生医疗救治中心艾滋病综合管理办公室组长。上学时，学院每年都会组织艾滋病防治的宣传活动。回到重庆工作后，她的工作包括全市艾滋病医疗质量督导与技术指导、医务人员培训、学术会议筹备等。疫情发生后，丁月旭开始负责重庆市公共卫生医疗救治中心对外捐赠物资接收工作。</p>
                    <p>捐赠物资主要分四类：口罩、防护服、消毒液等医用防护物资；水果、蔬菜、大米、羽绒服等生活类物资；药品、试剂类物资；医用设备等。丁月旭要征询使用部门的意见后分类做好接收、登记等工作，按照类别交付给相应的部门。对于水果、蔬菜等不易保存的生活物资，更是要在最短时间内做好登记分配。从初一返岗后，她没有一天休息过。</p>
<!--                    <p>&nbsp;</p>-->
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/7/7C/D0/DCAA1E82EC2519759D378FD6E89_B210A384_345A7.jpg" vwidth="600" vheight="" vurl="/_vsl/77CD0DCAA1E82EC2519759D378FD6E89/B210A384/345A7" vsbhref="vurl" orisrc="/__local/7/7C/D0/DCAA1E82EC2519759D378FD6E89_B210A384_345A7.jpg" class="img_vsb_content"></p>
                    <p><strong>宣丽燕 这项工作本身就非常有意义</strong></p>
                    <p>宣丽燕是天津大学药学院2012级本科生，现就职于杭州市江干区区委组织部。得知疫情发生情况后，还在老家的宣丽燕立刻投入到当地的疫情防控宣传工作中，又于1月29日迅速赶回杭州，加入到抗疫一线的队伍中。</p>
                    <p>如今宣丽燕已经在一线工作了整整28天。这期间，她与公安、运管、管委会工作人员等全天候24小时协同作战，守候在杭城东大门。主要负责测量出站旅客体温、解答旅客问题、核对旅客身份信息，对来自湖北、温州等重点疫区的旅客进行排查，指导其填写信息登记表，并告知防疫隔离注意事项。</p>
                    <p>把事情做到极致，把家国装在心中。虽然总是在做一些重复性的工作，但宣丽燕并不会觉得枯燥，反而督促自己总结经验，力求把事情做到极致。</p>
<!--                    <p>&nbsp;</p>-->
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/0/1E/13/34AA77EA51F6177328DA152190C_B6CA3CF1_3CF22.jpg" vwidth="600" vheight="" vurl="/_vsl/01E1334AA77EA51F6177328DA152190C/B6CA3CF1/3CF22" vsbhref="vurl" orisrc="/__local/0/1E/13/34AA77EA51F6177328DA152190C_B6CA3CF1_3CF22.jpg" class="img_vsb_content"></p>
                    <p><strong>范凯 这些是对自己敬业精神的检验</strong></p>
                    <p>天津市药监系统优秀共产党员、药品化妆品审评查验中心的范凯同志，是天津大学药学院2003级本科生。接到工作任务后，第一时间进驻市卫健委医疗物资储备库，投入到紧张的工作中，他主要负责物资查验工作。疫情期间出入库物资量之大可想而知，工作标准也是非常之高，他把这些都看作是对自己意志和敬业精神的检验，始终精神饱满，冲锋在一线。繁重的工作任务让他时常熬夜到凌晨两三点钟，也让他吃不好饭，睡不好觉，但他从不抱怨。</p>
<!--                    <p>&nbsp;</p>-->
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/6/C1/77/6423387DF2BB0094B64FD4A6A65_91A9D9B2_299C9.jpg" vwidth="600" vheight="" vurl="/_vsl/6C1776423387DF2BB0094B64FD4A6A65/91A9D9B2/299C9" vsbhref="vurl" orisrc="/__local/6/C1/77/6423387DF2BB0094B64FD4A6A65_91A9D9B2_299C9.jpg" class="img_vsb_content"></p>
                    <p><strong>孙欣 把最远的交给我</strong></p>
                    <p>天津拉响的“一级预警”就像是一声集合号。天津大学药学院2003级本科生，现任天津市药品监督管理局第四药品监督管理办公室副科长的孙欣同志在接到通知后，第一时间回单位报到，迅速转换角色，投入到片区医疗器械生产企业的驻厂监管中去。</p>
                    <p>第四监管办的驻厂点多达五个，分散在不同的区域、方向，很多时候大家需要分别去多地进行检查、服务，时常遇到执法车调配不开的情况，孙欣同志主动提出把最远的驻厂点留给他，每天驾驶私家车60余公里，完成驻厂监管工作。</p>
<!--                    <p>&nbsp;</p>-->
                    <br><p class="vsbcontent_img"><img width="600" src="http://news.tju.edu.cn/__local/5/55/61/D0A6F4B43C65D077F39F4270100_4CCB1527_303B1.jpg" vwidth="600" vheight="" vurl="/_vsl/55561D0A6F4B43C65D077F39F4270100/4CCB1527/303B1" vsbhref="vurl" orisrc="/__local/5/55/61/D0A6F4B43C65D077F39F4270100_4CCB1527_303B1.jpg" class="img_vsb_content"></p>
                    <p><strong>王成 越是困难时，越要靠谱</strong></p>
                    <p>王成，天津大学药学院2005级本科生，国家工业和信息化部消费品工业司医药处借调干部。这次肺炎疫情中，王成所在的单位是国家应对新型冠状病毒感染的肺炎疫情应对机制医疗物资保障组的牵头单位。</p>
                    <p>当疫情分工命令下达时，王成深知彼时已是战时，疫情战打的就是医药工业的家底，他们的工作效率直接关系着前线医护人员和患者的生命安全。面对临近过年的停工潮，要通过一个个文件和电话去落实和争取时间。王成时刻在心中告诫自己：“越是困难时，越要靠谱。”同时王成很高兴在疫情战斗过程中遇到多位靠谱的新朋友，其中还有天大的校友，很高兴能与他们并肩战斗。</p>
                    <br><p>2020年是天津大学药学院建院的第20个年头，一批年轻的天大药学人从这里走向各行各业，他们胸怀家国、脚踏实地，在科学研究、公共卫生管理、社会服务等领域努力奋斗，逐渐成长为栋梁之材。文中的校友是药学院培养千余名毕业生的一个缩影，当疫情来临，他们就是身边负重前行的勇士，以勇挑重担的决心和战之必胜的信心坚守着自己的阵地，万千平凡终将汇聚成不可战胜的伟大力量！</p>
                    <p>感谢所有奋战中的天大药学人，母校和学院牵挂着你们，祝福你们健康平安，希望我们早日迎来明媚的春天，期待与你重逢在海棠花开的日子。</p>
                </article>

<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
<!--                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%BC%A0%E5%A4%AA%E9%9B%B7" target="_blank">张太雷</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%96%B0%E5%9E%8B%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%E8%82%BA%E7%82%8E?fromtitle=%E6%96%B0%E5%86%A0%E8%82%BA%E7%82%8E&fromid=24330426" target="_blank">新冠疫情</a></li>
<!--                    	<li class="transition"><a href="#" target="_blank">人生观</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%9E%BF%E7%A7%8B%E7%99%BD/115748" target="_blank">瞿秋白</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E5%A4%A7%E5%AD%A6/134155?fromtitle=%E5%A4%A9%E5%A4%A7&fromid=6869469" target="_blank">天津大学</a></li>
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%B8%B8%E5%B7%9E/171784" target="_blank">常州</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%83%E6%AD%A5%E6%B4%97%E6%89%8B%E6%B3%95" target="_blank">七步洗手法</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%96%B0%E5%9E%8B%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%E9%98%B2%E6%8E%A7%E6%8C%87%E5%8D%97%EF%BC%88%E7%AC%AC%E4%B8%80%E7%89%88%EF%BC%89" target="_blank">疫情防控</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E5%A4%A7%E5%AD%A6%E8%8D%AF%E7%89%A9%E7%A7%91%E5%AD%A6%E4%B8%8E%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2/4754857?fromtitle=%E5%A4%A9%E6%B4%A5%E5%A4%A7%E5%AD%A6%E8%8D%AF%E5%AD%A6%E9%99%A2&fromid=4840914" target="_blank">天大药学院</a></li>
<!--                    	<li class="transition"><a href="#" target="_blank">革命先驱</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="article0.html" target="_blank"><img src="../../images/news/tianda.jpg"></a>
                        </div>
                        <a href="article0.html" class="transition" target="_blank">天津大学全力打好疫情防控阻击战</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../protection/kouzhao.html" target="_blank"><img src="../../images/kouzhao.jpg"></a>
                        </div>
                        <a href="../protection/kouzhao.html" class="transition" target="_blank">戴口罩能不能进行剧烈运动？</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../protection/xishou.html" target="_blank"><img src="../../images/xishou.jpg"></a>
                        </div>
                        <a href="../protection/xishou.html" class="transition" target="_blank">"七步洗手法"，你学会了吗？</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../patriotic_knowledge/article3.html" target="_blank"><img src="../../images/dangdetizhiyoushi.jpg"></a>
                        </div>
                        <a href="../patriotic_knowledge/article3.html" class="transition" target="_blank">中国疫情防控彰显党的体制优势</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../patriotic_knowledge/article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
                        </div>
                        <a href="../patriotic_knowledge/article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../protection/kangyi.html" target="_blank"><img src="../../images/kangyi.jpg"></a>
                        </div>
                        <a href="../protection/kangyi.html" class="transition" target="_blank">【战“疫”说理】中国精神在战“疫”中的生动体现</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="../protection/daikouzhao.html" target="_blank"><img src="../../images/daikouzhao.jpg"></a>
                        </div>
                        <a href="../protection/daikouzhao.html" class="transition" target="_blank">疫情防控之口罩篇</a>
                    </li>
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

