<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>毛泽东</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">习近平谈怎样学习毛泽东</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间： 2019-12-26 </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://www.dangjian.com/" target="_blank">党建网</a></span>
					<span class="author-name"><a href="#" >&nbsp;&nbsp;&nbsp;孙梦雨</a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->

                <p align="center"><img width="600" height="1029" style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" alt="" src="http://images.wenming.cn/web_djw/djw2016sy/djw2016sytt/201912/W020191226301893903750.jpg" OLDSRC="W020191226301893903750.jpg" /></p>
                <p align="justify">　　今天是毛泽东同志诞辰126周年纪念日。毛泽东是中国共产党、中国人民解放军、中华人民共和国的主要缔造者，中国各族人民的伟大领袖。他是党的第一代中央领导集体的核心，是领导中国人民彻底改变自己命运和国家面貌的一代伟人。习近平同志担任总书记以来，在各种场合多次要求我们学习毛泽东等老一辈革命家的高尚品格，还时常引用毛泽东的名言、诗词、典故。今天，<strong>党建网微平台</strong>带您跟随习近平总书记的脚步，一同纪念一代伟人毛泽东。</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><strong>　　缅怀毛泽东</strong></p>
                <p align="justify">　　在庆祝中华人民共和国成立70周年之际，习近平先后来到香山革命纪念地与毛主席纪念堂参观瞻仰，表达对毛泽东等老一辈革命家的崇高敬意与深切缅怀。</p>
                <p align="center"><img width="600" height="420" style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" alt="" src="http://images1.wenming.cn/web_djw/djw2016sy/djw2016sytt/201912/W020191226301893974671.jpg" OLDSRC="W020191226301893974671.jpg" /></p>
                <p align="center">　<font face="楷体,楷体_GB2312">　习近平瞻仰双清别墅</font></p>
                <p align="justify">　　2019年9月12日下午，习近平从中南海乘车来到位于北京西郊香山公园内的香山革命纪念地视察。习近平首先来到双清别墅，瞻仰毛泽东当年办公居住的地方。修缮一新的双清别墅，保持了原有风貌，绿树成荫，格外幽静。别墅内，办公室、会客室、卧室、饭厅的家具陈设，床上的书籍和墙上的《中国解放区现势图》《最新北平大地图》等的摆放，都一如原样。习近平仔细察看，不时询问历史细节，对别墅的维护、修缮和文物保护表示满意。</p>
                <p align="center"><img width="600" height="387" style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" alt="" src="http://images.wenming.cn/web_djw/djw2016sy/djw2016sytt/201912/W020191226301894166231.jpg" OLDSRC="W020191226301894166231.jpg" /></p>
                <p align="center">　　<font face="楷体,楷体_GB2312">习近平等来到毛主席纪念堂瞻仰毛泽东遗容</font></p>
                <p align="justify">　　2019年9月30日上午，习近平等党和国家领导人来到北京天安门广场，出席烈士纪念日向人民英雄敬献花篮仪式。仪式前，习近平等来到毛主席纪念堂，向毛泽东坐像三鞠躬，随后来到瞻仰厅，瞻仰毛泽东遗容。</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><strong>　　学习毛泽东的政治智慧</strong></p>
                <p align="justify">　　2016年1月18日，习近平在省部级主要领导干部学习贯彻党的十八届五中全会精神专题研讨班上说：新中国成立前后，毛泽东同志就提出了<strong>统筹兼顾、“弹钢琴”</strong>等思想方法和工作方法。他说：“弹钢琴要十个指头都动作，不能有的动，有的不动。但是，十个指头同时都按下去，那也不成调子。要产生好的音乐，十个指头的动作要有节奏，要互相配合。党委要抓紧中心工作，又要围绕中心工作而同时开展其他方面的工作。我们现在管的方面很多，各地、各军、各部门的工作，都要照顾到，不能只注意一部分问题而把别的丢掉。凡是有问题的地方都要点一下，这个方法我们一定要学会。”</p>
                <p align="justify">　　2018年1月5日，习近平在新进中央委员会的委员、候补委员和省部级主要领导干部学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神研讨班上强调：绳短不能汲深井，浅水难以负大舟。对领导干部来说，把握全局、谋划发展的战略能力是十分重要的。在党的七大上，毛泽东同志说了这样一段话：“坐在指挥台上，如果什么也看不见，就不能叫领导。坐在指挥台上，只看见地平线上已经出现的大量的普遍的东西，那是平平常常的，也不能算领导。只有当着还没有出现大量的明显的东西的时候，当桅杆顶刚刚露出的时候，<strong>就能看出这是要发展成为大量的普遍的东西，并能掌握住它，这才叫领导</strong>。”</p>
                <p align="justify">　　2019年9月20日，习近平在中央政协工作会议暨庆祝中国人民政治协商会议成立70周年大会上说：毛泽东同志说过，<strong>所谓政治，就是把拥护我们的人搞得多多的，把反对我们的人搞得少少的。</strong>我们党领导革命、建设、改革取得成功靠的就是这个。在新的时代条件下，我们要继续前进，就必须增进全国各族人民的大团结，调动一切可以调动的积极因素。</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><strong>　　学习毛泽东的理政方略</strong></p>
                <p align="justify">　　2013年12月，习近平在中央农村工作会议上说：“洪范八政，食为政首。”我国是个人口众多的大国，解决好吃饭问题始终是治国理政的头等大事。毛泽东同志说：“<strong>吃饭是第一件大事</strong>。”手中有粮，心中不慌。我国十三亿多张嘴要吃饭，不吃饭就不能生存，悠悠万事、吃饭为大。只要粮食不出大问题，中国的事就稳得住。</p>
                <p align="justify">　　2014年9月5日，习近平在庆祝全国人民代表大会成立六十周年大会上指出：<strong>早在1940年，毛泽东同志就说到：“没有适当形式的政权机关，就不能代表国家。中国现在可以采取全国人民代表大会、省人民代表大会、县人民代表大会、区人民代表大会直到乡人民代表大会的系统，并由各级代表大会选举政府。”</strong></p>
                <p align="justify">　　2019年9月24日，习近平在十九届中央政治局第十七次集体学习时指出：中国特色社会主义国家制度和法律制度需要坚持好、实施好，也需要不断完善和发展。早在1949年，毛泽东同志就说过：“中共二十八年，再加二十九年、三十年两年，完成全国革命任务，这是铲地基，花了三十年。<strong>但是起房子，这个任务要几十年工夫</strong>。”</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><strong>　　学习毛泽东的高瞻远瞩</strong></p>
                <p align="justify">　　2013年12月26日，习近平在纪念毛泽东同志诞辰120周年座谈会上说：毛泽东同志在青年时期就立下拯救民族于危难的远大志向。1919年，毛泽东同志在《〈湘江评论〉创刊宣言》中写道：“时机到了！世界的大潮卷得更急了！洞庭湖的闸门动了，且开了！<strong>浩浩荡荡的新思潮业已奔腾澎湃于湘江两岸了！</strong>顺他的生，逆他的死。”</p>
                <p align="justify">　　2014年9月5日，习近平在庆祝全国人民代表大会成立六十周年大会上说：60年一甲子。此时此刻，让我们一起来重温毛泽东同志60年前在第一届全国人民代表大会第一次会议上讲的一段话，他说：“我们有充分的信心，克服一切艰难困苦，将我国建设成为一个伟大的社会主义共和国。我们正在前进。我们正在做我们的前人从来没有做过的极其光荣伟大的事业。<strong>我们的目的一定要达到。我们的目的一定能够达到</strong>。”</p>
                <p align="justify">　　2018年12月18日，习近平在庆祝改革开放40周年大会上指出：毛泽东同志说：“夺取全国胜利，这只是万里长征走完了第一步。如果这一步也值得骄傲，那是比较渺小的，<strong>更值得骄傲的还在后头</strong>。在过了几十年之后来看中国人民民主革命的胜利，就会使人们感觉那好像只是一出长剧的一个短小的序幕。剧是必须从序幕开始的，但序幕还不是高潮。”</p>
<!--                <p align="justify">&nbsp;</p>-->
<!--                <p align="justify"><strong>　　转载请标注来源：党建网微平台</strong></p>-->

<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E6%AF%9B%E6%B3%BD%E4%B8%9C/113835" target="_blank">毛泽东</a></li>

<!--                    	<li class="transition"><a href="#" target="_blank">人生观</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%85%B1%E4%B8%AD%E5%A4%AE%E5%8C%97%E4%BA%AC%E9%A6%99%E5%B1%B1%E9%9D%A9%E5%91%BD%E7%BA%AA%E5%BF%B5%E5%9C%B0?fromtitle=%E9%A6%99%E5%B1%B1%E9%9D%A9%E5%91%BD%E7%BA%AA%E5%BF%B5%E5%9C%B0&fromid=23753401" target="_blank">香山革命纪念地</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%AF%9B%E4%B8%BB%E5%B8%AD%E7%BA%AA%E5%BF%B5%E5%A0%82" target="_blank">毛主席纪念堂</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E6%AF%9B%E6%B3%BD%E4%B8%9C%E7%B2%BE%E7%A5%9E" target="_blank">毛泽东精神</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%BB%9F%E7%AD%B9%E5%85%BC%E9%A1%BE" target="_blank">统筹兼顾</a></li>
                    	<li class="transition"><a href="http://dangjian.people.com.cn/n1/2016/0624/c117092-28476370.html" target="_blank">"弹钢琴"</a></li>

                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A%E5%85%9A%E5%91%98/6301426?fromtitle=%E5%85%B1%E4%BA%A7%E5%85%9A%E4%BA%BA&fromid=31861" target="_blank">共产党人</a></li>
						<li class="transition"><a href="#" >理政方略</a></li>
<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E2%80%9C%E4%B8%8D%E5%BF%98%E5%88%9D%E5%BF%83%E3%80%81%E7%89%A2%E8%AE%B0%E4%BD%BF%E5%91%BD%E2%80%9D%E4%B8%BB%E9%A2%98%E6%95%99%E8%82%B2/23151658?fromtitle=%E4%B8%8D%E5%BF%98%E5%88%9D%E5%BF%83%E7%89%A2%E8%AE%B0%E4%BD%BF%E5%91%BD&fromid=24233551" target="_blank">不忘初心，牢记使命</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="dongbiwu.html" target="_blank"><img src="../../images/dongbiwu.jpg"></a>
                        </div>
                        <a href="dongbiwu.html" class="transition" target="_blank">董必武：中国共产党的创始人之一</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="leifeng.html" target="_blank"><img src="../../images/leifeng.jpg"></a>
                        </div>
                        <a href="leifeng.html" class="transition" target="_blank">像雷锋那样践行初心使命</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="caihesen.html" target="_blank"><img src="../../images/caihesen.jpg"></a>
                        </div>
                        <a href="caihesen.html" class="transition" target="_blank">蔡和森：中国共产党工人运动领袖</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="dengxiaoping.html" target="_blank"><img src="../../images/dengxiaoping.jpg"></a>
                        </div>
                        <a href="dengxiaoping.html" class="transition" target="_blank">邓小平论弘扬斗争精神</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="lidazhao.html" target="_blank"><img src="../../images/lidazhao.jpg"></a>
                        </div>
                        <a href="lidazhao.html" class="transition" target="_blank">李大钊：中国共产党的创始人之一</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="zhouenlai.html" target="_blank"><img src="../../images/zhouenlai.jpg"></a>
                        </div>
                        <a href="zhouenlai.html" class="transition" target="_blank">弘扬周恩来精神 践行初心使命</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="zhangtailei.html" target="_blank"><img src="../../images/zhangtailei.jpg"></a>
                        </div>
                        <a href="zhangtailei.html" class="transition" target="_blank">张太雷革命精神初探 ——兼论“常州三杰”的人生观</a>
                    </li>
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

