<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>张太雷</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

	<div class="container">
		<div class="navbar-header transition">
			<a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
		</div>
		<ul class="nav navbar-nav navbar-left" id="jsddm">
			<li class="nav-news js-show-menu">
				<a href="#">快讯 <span class="caret"></span></a>
				<ul>
					<li><a href="../../news_political.html" target="_blank">热点社评</a></li>
					<!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
					<li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
				</ul>
			</li>
			<style>
				#jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
				#jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
			</style>
			<!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
			<li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
			<li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
			<!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
			<li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
		</ul>

	</div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
				<ul>
					<!--普通文章分享微博-->
					<div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
					<!--普通文章分享微信-->
					<div onclick="shareTo('qq')">
						<li class="weixin">
							<!--                        <div class="weixin-Qr-code "></div>-->
							<a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
						</li>
					</div>
					<!--普通文章分享qq空间 -->
					<div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

				</ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">张太雷革命精神初探 ——兼论“常州三杰”的人生观</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间： 2018-10-22 10:33</span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://dangjian.gmw.cn/" target="_blank">光明网-党建频道</a></span>
					<span class="author-name"><a href="#" >&nbsp;&nbsp;&nbsp;&nbsp;朱成山、朱天乐</a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
				<p><strong><font color="#993300">　　作者：江苏省中国特色社会主义理论体系常州大学基地研究员，常州大学近现代史与红色文化研究院院长、教授 朱成山；南京出版社第三编辑部主任、副编审 朱天乐</font></strong></p>

				<p>　　2018年6月17日，是革命先驱张太雷诞辰120周年纪念日。荣幸的是，今年以来，受江苏省委宣传部、常州市委宣传部、常州市委党史工委、常州市文广新局、常州市三杰纪念馆、张太雷纪念馆的委托，本人先后4次参与《张太雷同志革命事迹展》大纲研讨、修改与审定。与此同时，也参与了常州大学近现代史与红色文化研究院和张太雷纪念馆联合编撰出版的《革命先驱张太雷故事》一书的策划、修改与统稿，从中接触了不少有关张太雷的史料，每每在学习过程中被感动，次次在感动的情绪下再学习，从内心深处滋生了对这位历史伟人的崇拜与敬重。</p>
				<p>　　共产党人最为重要的是精神力量，最重视精神感召。因此，要想了解中国，必须了解中国共产党；要想了解中国共产党，必须了解中国共产党人精神。中国共产党历来重视党的精神文化积累。从历史和实践的层面来看，中国共产党的伟大精神由一个个鲜明具体的“坐标”组成，在中国共产党成立97年的历史进程中，已经建构成一幅可以长久涵养后人的“精神谱系”。</p>
				<p>　　中国共产党人的“精神谱系”，犹如鲜活生动的历史链条，把中国共产党的伟大精神串接起来，展示出来。这个“精神谱系”炫目多彩，内容广泛，前后相接，多以地点、事件或代表人物命名，如中国革命时期有红船精神、井冈山精神、雨花英烈精神、苏区精神、长征精神、（遵义）古田精神、延安精神（白求恩精神、张思德精神、抗大精神、整风精神、南泥湾精神）、（太行）沂蒙精神、红岩精神、董存瑞精神、抗战精神、铁军精神、西柏坡精神；中国建设时期有（大庆）“铁人”精神、红旗渠精神、焦裕禄精神、雷锋精神、“两弹一星”精神、劳模精神；中国改革开放时期有创业创新精神、载人航天精神、“九八”抗洪精神、抗击“非典”精神、抗震救灾精神、改革开放（创业创新）精神、北京奥运精神……一种精神就是一座历史的坐标。伟大的党培育伟大的精神，伟大的精神滋养伟大的党。中国共产党的历史既是一部党领导全国各族人民进行革命、建设、改革的奋斗史，也是一部党的伟大精神形成、丰富和深入的发展史。</p>
				<p>　　鲁迅先生曾经指出，历史上都写着中国的灵魂，指示着将来的命运。”人类历史是前人留给后来者最可高贵的财富。正如克罗齐所说，一切真历史都是当代史。时至今日，我们为什么要纪念革命先驱张太雷？换句话来说，作为历史伟人的张太雷，究竟有什么值得我们学习与继承的呢？本人认为，最为重要的还是张太雷的革命精神。</p>

				<p>　　一、 张太雷革命精神的内容</p>
				<p>　　在张太雷身上，有太多闪光的优点，他所处的那个年代距离现在久远，有许多与当下的不同，加之本人能力水平有限，难以准确概括和提炼出张太雷革命精神。因此，在这里特意用了“初探”一词，以求教于今天到会的各位领导和专家学者。本人认为，张太雷革命精神主要体现在以下四个方面：</p>
				<p>　　（一）崇高真挚的理想信念</p>
				<p>　　共产党人的理想信念是什么？习近平总书记指出，对马克思主义的信仰，对社会主义和共产主义的信念，是共产党人的政治灵魂，是共产党人经受住任何考验的精神支柱。又说，理想因其远大而为理想，信念因其执着而为信念。综观张太雷29岁短暂的人生历程，由于有崇高真挚的理想信念支撑着他，使其生命虽然短暂却熠熠生辉。从张太雷一生创造的革命业绩来看，他的理想就是人类要实现共产主义，信念就是坚信马克思主义。</p>
				<p>　　张太雷最早接触马克思主义是在北洋大学求学期间。而北洋大学初名为北洋西学学堂（现天津大学），它于1895年10月2日成立，是中国近代创立的第一所大学，于1913年更名为北洋大学。1916年1月，张太雷考入北洋大学预科班，9月，升入法科本科班。1918年夏，北洋大学法科美籍教授福克斯（（Chas．J．Fox））创办《华北明星报（日报）》，曾邀请张太雷参加编辑部工作，而这一张报纸上经常刊载介绍马克思主义的一些进步文章，使他拓展了眼界，开阔了思想，受到了教育。在此期间，他经常在《向导》周报和《中国青年》上撰写文章，还译著了《马克思政治学》一书，在《民国日报》上连载。在1919年“五·四”运动中，张太雷往返京津之间，积极参加并组织爱国运动，深受李大钊等马克思主义者的影响和提携，与先进的革命青年共同探讨救国救民的道路，从而确立了共产主义的理想，坚定了马克思主义的信念，他觉得自己的人生目标越发清晰了，充满了革命的激情与勇气。如火如荼的“五·四”运动把北京、天津等地的爱国学生们紧密地联系在一起，大家逐渐坚定了自己的革命信念，张太雷与志同道合的学生们走在了一起，共同探索和实践中国国强民富的道路。</p>
				<p>　　俗话说：“有志不在年高”。时年21岁的张太雷，已经成长为一位坚信马克思主义的革命家。如果说理想与信念是照亮人生的火炬，共产主义理想和马克思主义的信念，使得张太雷从此在革命斗争中激情四溢，坚忍不拔，努力创造，为中国革命事业作出了重要的贡献。</p>
				<p>　　（二）惊雷醒世的革命立场</p>
				<p>　　在中国共产党初创时期，对共产党人的考验是异常惊险、复杂和残酷的。许多人因为经受不住考验，脱党变节，甚至成为叛徒和反革命，祸害中国革命事业。而在张太雷的人生中，革命立场无比的坚定，因为他早已以身许党、以身许国。</p>
				<p>　　立场的坚定源于思想的进步，而进步的思想是靠马克思主义理论的武装。张太雷无论是在“五·四”运动烈火淬炼中，还是在共产国际的大舞台中，抑或参与创建中国共产党和中国共产主义青年团大事业中，特别是在策划、组织和指挥广州起义的革命风暴中，始终革命立场坚定不移。他在读《新青年》所刊登的《庶民的胜利》《布尔什维主义的胜利》等文后，曾经对同学这样说道：“我以后不当律师了，天下兴亡，匹夫有责，走十月革命的道路才能救中国！”此后，张太雷立志化作“巨雷”，要冲散阴霾，改造社会，并取“泰来”的谐音，改名为太雷，寓意为惊醒世人、击碎旧世界的巨雷。此后，他曾以“雷”“大雷”“泰雷”等笔名发表文章，其用意就是要用马克思主义理论和革命思想来教育启发中国民众，掀起革命的风暴和疾风骤雨，坚定地走革命的道路。</p>
				<p>　　张太雷工作起来常有一种革命加拼命的精神，当时党内的同志曾将他和陈延年、周恩来、毛泽东四人并称为“四个特别忙的人”。1925年，孙中山逝世，蒋介石先后制造中山舰事件和“整理党务案”，开始公开排挤中共党员和国民党左派。张太雷在担任主编《人民周刊》上发表了《到底要不要国民党？》等多篇重要文章，帮助人民认清蒋介石的反动面目。由于击中了要害，蒋介石曾在黄埔军校声色俱厉地攻击谩骂张太雷“引起两党恶感”，破坏两党关系，张太雷针锋相对撰文予以反击，先后发表了政论文章86篇，平均每月近10篇。这场论战在广东影响很大，特别在黄埔军校学生中引起很大震动，大涨了左派的志气。</p>
				<p>　　（三）永不停步的顽强探索</p>
				<p>　　革命先驱者有一个与众不同的重要特征，就是富于创造性，永不停步的顽强探索，不但能够引领社会不断地前行，而且留下了光辉的革命历史足迹。</p>
				<p>　　在张太雷的生平中，有一连串的“第一”的记录：如1919年，张太雷参加伟大的“五·四”运动，这是中国近代历史上第一次彻底地不妥协地反帝反封建的爱国运动。1920年10月，张太雷参加李大钊等人发起的北京共产党早期组织，这是中国历史上共产主义的早期组织，他成为最早的中共党员之一。1920年11月，张太雷受李大钊派遣，在天津一家裁缝店楼上，创建了天津第一个S．Y．（社会主义青年团Socialist Youth简称）。1920年冬天，李大钊派张太雷、张国焘、邓中夏、谌小岑等人到长辛店，创办以平民教育为名，培养工人的骨干和开展工人运动的劳动补习学校。1921年7月，中国共产党宣告成立，张太雷成为全国第一批58名中国共产党党员之一。1921年，共产国际执行委员会决定组建远东书记处，张太雷作为中国共产主义小组第一次派出的代表，是第一个被派往共产国际工作的中国共产党的使者，也是中国社会主义青年团最早派往青年共产国际的使者之一，离京赴伊尔库茨克参加远东书记处工作。1922年5月5日，张太雷在广州主持召开了中国社会主义青年团第一次代表大会会议并致开幕辞，大会通过了张太雷等人起草的团纲、团章和其他一些决议案。1922年8月到1924年初，他受党的委托，陪同共产国际代表几次往返于北京、上海、广州之间，同孙中山先生商谈国共合作，为建立国民革命统一战线、实现第一次国共合作作出了重大贡献。1925年1月，中国社会主义青年团在上海举行第三次全国代表大会，团的名称改为中国共产主义青年团，张太雷当选为总书记。1927年11月的广州起义是继“八·一”南昌起义、秋收起义后，中国共产党高举武装斗争大旗的又一次伟大起义，张太雷是这次起义的总指挥，成为中共历史上第一个牺牲在战斗第一线的中央委员和政治局成员。</p>
				<p>　　中国哲学的目的是体认真理，而且在精神和生命上合二为一。所以人生论的重要，不仅是目的，也是方法论。共产党人是要有不断进取精神的。在这一点上，张太雷已经用实际行动为我们作出了榜样。我想，改革开放以来的苏南模式，其实也是这种精神的继承和弘扬。</p>
				<p>　　（四）为民谋幸福的奉献坐标</p>
				<p>　　敢于担当，乐于奉献，以为人民谋永远的幸福为己任，这既是张太雷人生的坐标，也是张太雷精神的真实与生动地写照。</p>
				<p>　　张太雷从小就立下了为了民众谋幸福的志向。他在常州西郊小学的教导主任兼语文老师马次立，有一次给学生出了一道作文题，题目是“试论学生之职责”。他在作文中写道，今日之莘莘学子，明日之国家栋梁，应砥砺品行、刻苦求学，关心民众疾苦，思考祖国前途，以救国救民、复兴中华为己任……马老师特地把他叫到办公室问道，你立志要救国救民、复兴中华，你打算怎样去实现这个志愿呢？他想了想便说，我现在要勤奋读书，多学一些知识，还要注意锻炼身体，长大后要多做对人民有益的事情。马老师又说，为了你能时刻记住“复兴中华”的誓言，我建议你把张泰来的名字改为张复，好不好？他愉快地答应了，把自己的名字改为张复，这个名字一直用到他上大学之前。</p>
				<p>　　1921年3月，张太雷奉中国共产党早期组织之命，赴俄国伊尔库茨克，代表中共参加共产国际远东书记处工作，被选为中国科书记。临行前，由于时间紧迫，张太雷来不及回家告别，只好写了一封长达2000多字的家信寄给妻子陆静华。他向陆静华表示，他从事革命工作不是为了做官发财，而是要做一个有高深学问有高尚道德的人。信中说：他“要为天下人谋将来永远的幸福”。这就是张太雷作为革命家的一种胸怀，一种担当，一种责任。在某种意义上说，也可以堪称为道德模范，因为革命家只有无私才能无畏。在张太雷的格言中有句“一声惊雷”的自喻，有人把他用一生的努力称为“醒世惊雷”，意为唤醒民众起来革命，而革命的目的是什么呢？张太雷在家书中其实已经作出了解读：革命的目的不仅仅是要破坏旧世界、推翻旧政权，也包括建设新世界、为人民谋永久的幸福，这正是共产党人的初心。</p>

				<p>　　二、 张太雷精神革命来源探析</p>
				<p>　　树有根，水有源。从思想逻辑的角度来看，不论对人的存在，还是对人的认识，根源性的思考终归是精神的内在要求，世界统一的基础，事物存在变化的根据。溯根求源，张太雷精神的形成不是偶然的，也不是一蹴而就的，主要来源于以下六个方面：</p>
				<p>　　（一）源于家乡常州深厚的人文底蕴的滋养</p>
				<p>　　常州历史上就是一个人文荟萃之地。春秋时期的季扎就是一个品德高尚、具有远见卓识的政治和外交家，著名的“季扎挂剑”流传千古。常州深厚的人文积淀使得此地区人才辈出，先后出了19名状元（含金坛、溧阳），2920名进士，常州在历史上的人才数仅次于北京、上海、苏州，位居全国第4位。近代民族工业的发展，带来常州地区文化的进一步繁荣，许多常州学子外出深造，带回来革命的新思想、新文化。</p>
				<p>　　张太雷在常州府中学堂读书时，校长屠元博就是一位有着炽热爱国心的知识分子。他在日本留学期间就加入了孙中山先生领导的同盟会。他担任常州府中学堂校长时，便将学堂作为常州、武进地区进行民主革命宣传和活动的一个重要场所。在常州府中学堂校内，师生们思想活跃，革命气氛非常浓厚。这位屠校长经常向学生们宣传孙中山的爱国民主思想，讲述孙中山、章太炎、邹容、陈天华等人的进步思想，以此武装学生们的头脑，开启民智，使学生们受益匪浅，这些理论也深深地印刻在张太雷的脑海中，为此他树立了初步的但还有些模糊的革命思想。</p>
				<p>　　（二）源于李大钊等精英人物的影响</p>
				<p>　　历史上每一次国家民族危亡之时，都会出现一批民族英雄。国家危机之时当然首先考验着政府，但同时也考验每一个公民。这种时刻，救国是最起码的做人标准，又是凝聚全国人民的精神支柱。</p>
				<p>　　鸦片战争后的中国，帝国主义列强入侵与宰割，军阀割据，民众生活在水深火热之中，救中国成为当时革命者的崇高使命。“五·四”运动前后，张太雷开始与李大钊有了广泛密切地接触。他钦佩李大钊是伟大的马克思主义者，也正是在李大钊的影响下，他开始接触和信仰马克思主义，并参加了李大钊组织的北京大学马克思学说研究会，协助李大钊开展创建中国共产党的工作。当时，除了前述的有进步倾向的美国人福克斯在天津创办了一份《华北明星报》，传递着世界各地的不同消息，其中也有苏俄十月革命胜利后的各种报道，应邀作为兼职编辑的张太雷，每天看着散发油墨香的报纸，眼界大开，为他今后人生道路的选择带来了新的机遇。此外，俄国人柏烈伟（又译“鲍立维”）是一位积极宣传共产主义的汉学家，1918年下半年也从海参崴来到中国，通过《华北明星报》，找到张太雷为其作翻译。张太雷正是通过大量翻译社会主义文献，翻译与介绍十月革命和俄国新貌的文章后，自己也开始精读马列著作。同时，张太雷经常代替柏烈伟去北京见李大钊，往返于京津之间。1920年3月，俄国人维经斯基第一次来华，张太雷因为懂英文，经常与其接触，对他信奉科学社会主义并加入中共早期组织起到了积极的作用。正是在这些精英人物的影响下，张太雷思想有了根本性转变，坚信马克思列宁主义，树立为共产主义事业而奋斗的信念。</p>
				<p>　　（三）源于共产国际红色环境的熏陶</p>
				<p>　　1921年3月26日，张太雷受中共早期组织的委派去伊尔库茨克，参加共产国际执委会远东书记处工作，在老布尔什维克、时任俄共（布）中央远东局委员兼第五军革命军事政治委员会委员舒米亚茨基的直接领导下，当时远东书记处下设中、朝、蒙藏、日本四个科，张太雷担任中国科科长，曾代表中共参加出席共产国际三大，大约于1921年8月下旬回到上海。期间，张太雷第一次见到了列宁等许多共产国际共产主义者，受到了国际红色风云的考验。</p>
				<p>　　大哲学家冯友兰在《中国哲学的问题和精神》中指出，处理日常的人伦世务，不是圣人分外的事。处理世务，正是他的人格完全发展的实质所在。他不仅作为社会的公民，而且作为“宇宙的公民”，即孟子所说的“天民”，来执行这个任务。他一定要自觉他是宇宙的公民，否则他的行为就不会有超道德的价值。他若当真有机会为王，他也会乐于为人民服务，既作为社会的公民，又作为宇宙的公民，履行职责。</p>
				<p>　　正因为张太雷是中国共产党派往共产国际工作的第一位红色使者，他不仅拓展了自己的国际视野，具有国际工作的经验，而且在中共一大还没有召开之前，他已经成为一个坚定信仰科学社会主义的共产党人。他是中国共产党内为数不多的不仅见到过列宁，并且在列宁逝世后为其送葬、扶棺和守灵的中共代表人物。</p>
				<p>　　（四）源于与几位共产国际代表的耳濡目染</p>
				<p>　　张太雷由于出色的英语翻译能力，几乎担任过20年代上半期所有来华共产国际代表的翻译和助手，出色地承担起沟通和协调中国共产党与共产国际、国民党上层联系的重大任务，特别是曾经先后为共产国际派往中国的代表马林和鲍罗廷做过翻译和助手，在此四年多时间里，得到了诸多启发和锻炼。</p>
				<p>　　1921年6月，共产国际代表、荷兰人马林（斯内夫斯特）到达上海。马林早年在荷兰从事铁路工人运动。1920年7月，他参加了共产国际第二次代表大会，并当选为共产国际执行委员会委员和民族殖民地委员会书记。列宁很欣赏马林的工作才能，把他派往中国。张太雷第一次见到马林是在1921年8月。张太雷后来成为马林的翻译与助手，当马林在中国执行共产国际任务遇到阻力，不被中共党内同志理解时，他总能在工作中给予积极的支持和帮助，并与马林携手为第一次国共合作统一战线的建立而努力，最终促成了第一次国共合作。1923年9月，马林也结束了在中国的工作返回莫斯科。马林很满意张太雷与他两年多的合作，称赞张太雷“能干可靠”，还向苏联驻华全权代表越飞推荐，建议任命张太雷做罗斯塔社（塔斯社的前身）驻广州代表。</p>
				<p>　　鲍罗廷，共产国际派驻中国代表，1923年奉命到广州工作。鲍罗廷被孙中山任命为国民党组织教练员，他提出按苏联共产党的模式改组国民党的计划。之后，鲍罗廷又任国民党中央执行委员会顾问、政治委员会顾问，是孙中山的得力助手。鲍罗廷作为苏联代表，主持负责联系苏联政府派军事顾问团到中国来，以及调拨金钱、武器支持黄埔军校等工作，他多次到黄埔军校介绍十月革命的经验和苏联红军的生活和政治工作。为了使鲍罗廷便于工作，加强和他的联系，中共中央决定派张太雷担任鲍罗廷的助手和翻译，并在国民党中央宣传部工作。在担任鲍罗廷助手的两年时间里，张太雷主要从事国共统一战线以及党的宣传工作。</p>
				<p>　　（五）源于建党建团复杂过程的锻炼</p>
				<p>　　歌德说，最好不是在夕阳西下的时候幻想什么，而是在旭日初升的时候即投入行动。张太雷是个行动执行力很强的革命家，尤其是在建党建团的复杂工作中，使自己超长的工作能力得到了发挥。</p>
				<p>　　在“五·四”运动的历练下，张太雷有了一定的组织能力和领导能力。1920年10月，在李大钊的帮助下，张太雷去天津筹建社会主义青年团。由于有“五·四”运动的基础和苏俄共产党人的帮助，到11月初，天津社会主义青年团成立了，张太雷任书记，进行了大量的革命工作。然而，在早期各地建立的团组织中，普遍存在信仰不一、思想复杂等问题。团员中既有马克思主义者，也有无政府主义者，加上团组织的负责人经常变动，因而到1921年5月，上海、北京、广州等地的团组织相继处于停止活动的状态。</p>
				<p>　　中国共产党很重视青年团的工作。8月，张太雷肩负建立青年共产国际中国支部的使命，从莫斯科回到上海，受命主持全国各地团组织的恢复与整顿工作。他四处奔走，与邓中夏、蔡和森、俞秀松、施存统等共同努力，重新把团的工作全面开展起来，中国社会主义青年团于1921年11月正式恢复。1922年2月，鉴于各地团组织的恢复整顿与发展，以及开展青年运动的需要，团的临时中央局向党中央建议把地方性团组织联合起来，建立全国统一的中国社会主义青年团。1922年5月5日，中国社会主义青年团第一次全国代表大会在广州东园举行，这一天也是马克思诞辰104周年纪念日。大会首先由张太雷致开幕辞，中共中央局书记陈独秀在会上作了《马克思主义的两大精神》的讲话，共产国际青年代表达林发表了题为《国际帝国主义与中国及中国社会主义青年团》的演讲。中共二大和青年共产国际对团一大的高度认可，就是对张太雷等人主持下团的临时中央工作的高度认可，体现了对张太雷在中国社会主义青年团创建中所作出历史性贡献的充分肯定。</p>
				<p>　　作为中国共产党最早的党员之一，张太雷先后参加过党的二大至五大，是四届候补中央委员，五届中央委员，大革命失败后的“五人常委”之一。张太雷当时不仅是连接共产国际和中国共产党的桥梁，也为推动朝鲜和日本共产党的创建作出过重要贡献。在他短暂的政治生涯中，参与了建党、建团、建军工作，促成了第一次国共合作，从而在中国共产党创建时期作出特殊和不可替代的贡献。</p>
				<p>　　（六）源于组织广州起义的大智大勇</p>
				<p>　　作家袁家诚写道，历史——本身就应该是对已逝岁月里的一些重要人物的生命和他们所从事的社会活动的客观的真实记载，它绝不允许有半点的虚构和歪曲，否则将不能称其为历史。</p>
				<p>　　对于中国共产党的历史来说，三大起义即南昌起义、秋收起义和广州起义是一个转折点，它标志着对枪杆子里面出政权的认知。广州起义是继“八·一”南昌起义、秋收起义后，中国共产党高举武装斗争大旗的又一次伟大起义，作为广州起义的总指挥、中共广东省委书记的张太雷，在这场起义中所起到的核心和表率作用，可以用“大智大勇”来衡量和评判。“大智”表现为张太雷不仅事前作了严密部署，而且在武装起义的消息被敌人得知后，立即提前举行起义并获得了成功；“大勇”则表现为在敌人组织反扑时，他沉着镇静地指挥，并亲赴第一线作战，光荣地牺牲在战火中，成为中共历史上第一个牺牲在战斗第一线的中央委员和政治局成员。</p>

				<p>　　三、 张太雷精神及对“常州三杰”的人生观评价</p>
				<p>　　在总结和评价张太雷精神的过程中，对比和称颂“常州三杰”（张太雷、瞿秋白、恽代英）对中国革命的贡献时，总觉得他们身上有许多一致的东西，闪耀着相同的红色光芒。那就是他们作为中国革命先驱，有着共同的人生观。</p>
				<p>　　人生观是人们在实践中形成的对于人生目的和意义的根本看法，它决定着人们实践活动的目标、人生道路的方向，也决定着人们行为选择的价值取向和对待生活的态度。人生观主要是通过人生目的、人生态度和人生价值三个方面体现出来的。那么，张太雷、瞿秋白、恽代英三位革命先驱的共同人生观是什么呢？</p>
				<p>　　（一）立党为公的人生目的。“常州三杰”有一个共同的政治符号，都是中共早期领导人。他们都把立党为公作为人生奋斗的目标，义无反顾地投身到党的事业之中，把党的事业作为自己人生的终极目的。他们所处的时代和党在当时的目标，正如马克思在《共产党宣言》中所指出的，他们的目的只有用暴力推翻全部现存的社会制度才能达到。让统治阶级在共产主义革命面前发抖吧。无产阶级在这个革命中失去的只是锁链。他们获得的将是整个世界。2014年12月，习近平总书记在考察江苏时，饱含深情地列举了周恩来、瞿秋白、张太雷、恽代英等江苏籍杰出共产党员的代表人物，并指示要用好用这些丰富的党史资源，使之成为激励人民不断开拓前进的强大精神力量。张太雷等革命先驱的精神之所以具有穿越时空的感染力和影响力，是因为它占据了道义高点，拥有崇高的道德力量。作为早期的中国共产党领导人，他们的理想、信念、意志、情感、人格、智慧，都彰显了先进人群在特定环境和特定考验面前的价值选择和道德实践，占据着人类精神美善的崇高天地。</p>
				<p>　　（二）拼搏奉献的人生态度。“常州三杰”有一个共同的特点，毕生乐于拼搏奉献。他们是那个时代的进步青年，敢于冲破半殖民地半封建社会旧思想的束缚，汲取先进知识和文化营养，走上革命道路，成为中国共产主义运动的先驱和中坚，靠的是一种忘我的拼搏和奉献精神。正如恽代英的名言所表达的，好人是有操守的，好人是有作为的，好人是要能够为社会谋福利的。记得有位作家这样说过，报国心是一份平常心，就像在父母面前的一份孝心，是不要特意表现，但要时时准备，事事尽心的。他们可以将自己力所能做的事全部联系到对国家民族的贡献上去。当每一个公民都能自觉做到这一点时，国家就会格外的强盛，民族就会格外的兴旺。张太雷等革命先驱敢于为美好未来奉献和牺牲一切，敢于斗争、敢于胜利的崇高精神，顾全大局、遵守纪律、维护团结的奉献态度，都是一种崇高人生态度的表达。</p>
				<p>　　（三）成就事业的人生价值。“常州三杰”有一个共同的归属，都将年轻的生命献给了党的事业，他们的牺牲是党的事业的损失，但他们的死重于泰山。马斯洛需求层次理论告诉我们，人的最高需求是爱和归属的需要。在他们短暂的人生中，为中国革命和党的事业始终兢兢业业，锐意进取，刻苦努力，谱就华章。他们都曾经担任过党的要职，但他们都是胸怀大义，敢于担当，奉献在先，乐观向上。他们的名字将永远铭刻在中国人民革命烈士纪念碑上；他们的革命精神永远鼓舞人们为中华民族的复兴而努力，他们作为共和国的英雄将永垂不朽！</p>
				<p>　　张太雷革命精神启示是：我们生活在一个梦想迸发的新时代，只有把个人理想与祖国命运紧紧联系在一起，把个人志向与民族振兴紧紧联系在一起，才能做出有意义的事业。已经走进新时代的我们，应该继承张太雷等革命先驱的遗志和精神，继续奋力前行！</p>
				<p>　　（本文摘编自常州市新时代弘扬张太雷同志革命精神研讨会发言）<a href="https://www.gmw.cn" target="_blank"><img src="https://img.gmw.cn/pic/content_logo.png" title="返回光明网首页"></a></p><!--/enpcontent-->



<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%BC%A0%E5%A4%AA%E9%9B%B7" target="_blank">张太雷</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%88%B1%E5%9B%BD%E4%B8%BB%E4%B9%89%E7%B2%BE%E7%A5%9E/7284533" target="_blank">爱国精神</a></li>
<!--                    	<li class="transition"><a href="#" target="_blank">人生观</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%9E%BF%E7%A7%8B%E7%99%BD/115748" target="_blank">瞿秋白</a></li>
                    	<li class="transition"><a href="#" target="_blank">革命</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%B8%B8%E5%B7%9E/171784" target="_blank">常州</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A" target="_blank">中国共产党</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%B8%B8%E5%B7%9E%E4%B8%89%E6%9D%B0" target="_blank">常州三杰</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%81%BD%E4%BB%A3%E8%8B%B1/1009269?fr=aladdin" target="_blank">恽代英</a></li>
                    	<li class="transition"><a href="#" target="_blank">革命先驱</a></li>
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
					<li>
						<div class="hot-article-img">
							<a href="caihesen.html" target="_blank"><img src="../../images/caihesen.jpg"></a>
						</div>
						<a href="caihesen.html" class="transition" target="_blank">蔡和森：中国共产党工人运动领袖</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="dengxiaoping.html" target="_blank"><img src="../../images/dengxiaoping.jpg"></a>
						</div>
						<a href="dengxiaoping.html" class="transition" target="_blank">邓小平论弘扬斗争精神</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="lidazhao.html" target="_blank"><img src="../../images/lidazhao.jpg"></a>
						</div>
						<a href="lidazhao.html" class="transition" target="_blank">李大钊：中国共产党的创始人之一</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="leifeng.html" target="_blank"><img src="../../images/leifeng.jpg"></a>
						</div>
						<a href="leifeng.html" class="transition" target="_blank">像雷锋那样践行初心使命</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="dongbiwu.html" target="_blank"><img src="../../images/dongbiwu.jpg"></a>
						</div>
						<a href="dongbiwu.html" class="transition" target="_blank">董必武：中国共产党的创始人之一</a>
					</li>
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
	<div class="modal-backdrop fade in js-modal-backdrop"></div>
	<div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
			<!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
		<div class="footer-icon-list pull-right">
			<ul class="Qr-codee">
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
					<i class="icon icon-footer icon-footer-wx"></i>
				</li>
				</a>
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
					<i class="icon icon-footer icon-footer-rss"></i></li>
				</a>
			</ul>
		</div>
	</div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

