<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>周恩来精神</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

    <div class="container">
        <div class="navbar-header transition">
            <a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">快讯 <span class="caret"></span></a>
                <ul>
                    <li><a href="../../news_political.html" target="_blank">热点社评</a></li>
                    <!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
                    <li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
            <li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
            <li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
            <!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
            <li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
        </ul>

    </div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
                <ul>
                    <!--普通文章分享微博-->
                    <div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
                    <!--普通文章分享微信-->
                    <div onclick="shareTo('qq')">
                        <li class="weixin">
                            <!--                        <div class="weixin-Qr-code "></div>-->
                            <a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
                        </li>
                    </div>
                    <!--普通文章分享qq空间 -->
                    <div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

                </ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">弘扬周恩来精神 践行初心使命</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间： 2019年06月18日10:54 </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://xh.xhby.net/mp3/pclayout/202005/16/l1.html" target="_blank">新华日报</a></span>
					<span class="author-name"><a href="https://baike.baidu.com/item/%E5%A7%9A%E6%99%93%E4%B8%9C/21781?fr=aladdin" target="_blank">&nbsp;&nbsp;&nbsp;姚晓东</a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->

				<p style="text-align: center; " ><img  src="../../images/celebrity/zhouenlai2.jpg" /></p>

<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
				<p>
					　　周恩来同志是中国共产党人的杰出代表、党政干部学习的崇高榜样。在半个多世纪的革命生涯中，周恩来同志始终坚定理想信念，对党绝对忠诚，牢记为民宗旨，为党和人民的事业鞠躬尽瘁，体现了中国共产党人的高风亮节和崇高境界，他奋斗的一生是我们党不忘初心、牢记使命的生动缩影。在纪念周恩来同志诞辰120周年座谈会上，习近平总书记用不忘初心、坚守信仰，对党忠诚、维护大局，热爱人民、勤政为民，自我革命、永远奋斗，勇于担当、鞠躬尽瘁，严于律己、清正廉洁“六个杰出楷模”概括周恩来同志的崇高精神，号召全党同志向周恩来同志学习。在省委常委会“不忘初心、牢记使命”主题教育专题研讨中，省委书记娄勤俭指出，周恩来同志毕生为中国人民谋幸福、为中华民族谋复兴，为党、为国家、为人民奉献了一切，他的光辉事迹和伟大品格是开展“不忘初心、牢记使命”主题教育最生动、最深刻的教材。作为周恩来同志家乡的党员干部，我们要把学习践行周恩来精神作为主题教育的重要内容，坚持以周恩来同志为榜样，守初心、担使命，找差距、抓落实，做到理论学习有收获、思想政治受洗礼、干事创业敢担当、为民服务解难题、清正廉洁作表率，奋力推动淮安高质量跨越发展，为建设“强富美高”新江苏贡献淮安力量。</p>
				<p>
					　　坚定信仰的“主心骨”，做到对党忠诚永不动摇。习近平总书记指出，“一切向前走，都不能忘记走过的路；走得再远、走到再光辉的未来，也不能忘记走过的过去，不能忘记为什么出发。”信仰是共产党人的安身立命之本，心中有信仰，行动有方向，脚步有力量。周恩来同志从小就树立了追求真理的伟大志向，年仅13岁的他即立志“为中华之崛起而读书”。在确立共产主义信仰时，他曾说，“我认的主义一定是不变了，并且很坚决地要为它宣传奔走。”此后，无论革命战争年代还是和平建设时期，无论党的事业处于顺境还是遭受挫折，他都始终保持坚定的理想信念和旺盛的革命精神。我们学习周恩来精神、践行初心使命，就是要学习他坚守信仰、对党忠诚的精神品质，挺起理想信念的“主心骨”，坚持以习近平新时代中国特色社会主义思想武装头脑，把“永不动摇信仰”作为贯穿一生的重大原则去坚守，坚决树牢“四个意识”、坚定“四个自信”、做到“两个维护”，不断筑牢信仰之基、补足精神之钙、把稳思想之舵。</p>
				<p>
					　　争做奋斗的“追梦人”，做到担当尽责永不懈怠。习近平总书记指出，“历史只会眷顾坚定者、奋进者、搏击者，而不会等待犹豫者、懈怠者、畏难者。”回顾周总理的一生，他对党和国家事业高度的担当负责，特别是在“文革”期间，尽管自己处境艰难，仍然以对党对人民高度负责的精神，协调处理方方面面的关系和矛盾，竭尽全力维护党和国家的最高利益。我们学习周恩来精神、践行初心使命，就是要学习他勇于担当、鞠躬尽瘁的奋斗精神，牢记习近平总书记“把周总理的家乡建设好，很有象征意义”的嘱托要求，深刻认识到新的长征路上依然要“爬雪山、过草地”，勇于应对挑战，善于破解矛盾，把精力聚焦到补短板、强弱项、攻难关上来。坚决防止和纠正工作中的形式主义、官僚主义，以奔跑的状态和奋斗的姿态推动淮安加快迈向“两个一百年”目标，努力使习近平总书记提出的中华民族伟大复兴中国梦和周总理一生追求的中华崛起愿景在淮安早日展现现实模样。</p>
				<p>
					　　当好人民的“服务员”，做到一心为民永不止步。习近平总书记指出，“职位越高越要忠于人民，全心全意为人民服务。”我们党的根基在人民、血脉在人民、力量在人民，能不能坚持全心全意为人民服务的根本宗旨，是衡量一名共产党员是否合格的根本标尺。早在1929年，周总理就在“九月来信”中提出“群众路线”这一概念，并一生模范践行。周总理始终把自己当成人民的“总服务员”，时刻牵挂人民群众的安危冷暖，毕生履行“为人民服务而死”的诺言。我们学习周恩来精神、践行初心使命，就是要学习他热爱人民、勤政为民的精神品质，认真践行以人民为中心的发展思想，牢固树立正确的权力观、地位观，牢记自己是人民公仆、人民的勤务员，始终把人民群众的利益作为一切工作的出发点和落脚点，自觉站在群众的立场上想问题、作决策、干事情，把人民赋予的权力用来为人民服务、为人民谋利、为人民造福。特别是当前淮安正处于高水平全面建成小康社会的决胜阶段，我们要更大力度办好各项民生实事，坚决打好精准脱贫攻坚战，全力推进扫黑除恶专项斗争，让广大群众获得感幸福感安全感更加充实、更有保障、更可持续。</p>
				<p>
					　　筑牢廉政的“防火墙”，做到廉洁自律永不褪色。习近平总书记指出，“一个人能否廉洁自律，最大的诱惑是自己，最难战胜的敌人也是自己。”一些领导干部违纪违法案件一再警示我们：党员干部如果律己不严，放松要求，突破了道德防线和法纪底线，首先毁掉的就是自己，首先遭罪的就是家人。周总理虽身居高位，但一生从不搞特殊化，始终严格要求自己和亲属，以身作则，率先垂范，提出“不谋私利、不搞特殊化”等“十条家规”，两退家乡政府送到北京的特产茶馓，还附上党中央关于严禁请客送礼的通知。我们学习周恩来精神、践行初心使命，就是要学习他严于律己、清正廉洁的精神品质，严守党纪底线，视钱物为“诱饵”，视声色犬马为“祸水”，远离而不沾边，鄙视而不染身；严守法律基线，坚持依法用权、公正用权、谨慎用权，切实做到交往有原则、有界限、有规矩；严守道德高线，注重道德养成、培养健康情趣、提升人格境界，当好社会主义核心价值观的模范践行者、党的优良传统作风的带头弘扬者、优良家风建设的积极推动者，以实际行动彰显共产党人的人格力量。</p>
				<p>
					　　（作者为淮安市委书记）</p>

<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%91%A8%E6%81%A9%E6%9D%A5/114814" target="_blank">周恩来</a></li>

<!--                    	<li class="transition"><a href="#" target="_blank">人生观</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%B7%AE%E5%AE%89/175638" target="_blank">淮安</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%9B%9B%E4%B8%AA%E8%87%AA%E4%BF%A1" target="_blank">四个自信</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E5%91%A8%E6%81%A9%E6%9D%A5%E7%B2%BE%E7%A5%9E" target="_blank">周恩来精神</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%A4%E4%B8%AA%E7%BB%B4%E6%8A%A4" target="_blank">两个维护</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%BB%89%E6%B4%81%E8%87%AA%E5%BE%8B" target="_blank">廉洁自律</a></li>

                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E5%85%B1%E4%BA%A7%E5%85%9A%E5%85%9A%E5%91%98/6301426?fromtitle=%E5%85%B1%E4%BA%A7%E5%85%9A%E4%BA%BA&fromid=31861" target="_blank">共产党人</a></li>
						<li class="transition"><a href="http://zhouenlai.people.cn/n1/2019/1128/c409117-31480018-6.html" target="_blank">不谋私利，不搞特殊化</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E2%80%9C%E4%B8%8D%E5%BF%98%E5%88%9D%E5%BF%83%E3%80%81%E7%89%A2%E8%AE%B0%E4%BD%BF%E5%91%BD%E2%80%9D%E4%B8%BB%E9%A2%98%E6%95%99%E8%82%B2/23151658?fromtitle=%E4%B8%8D%E5%BF%98%E5%88%9D%E5%BF%83%E7%89%A2%E8%AE%B0%E4%BD%BF%E5%91%BD&fromid=24233551" target="_blank">不忘初心，牢记使命</a></li>
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                        <div class="hot-article-img">
                            <a href="lidazhao.html" target="_blank"><img src="../../images/lidazhao.jpg"></a>
                        </div>
                        <a href="lidazhao.html" class="transition" target="_blank">李大钊：中国共产党的创始人之一</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="dongbiwu.html" target="_blank"><img src="../../images/dongbiwu.jpg"></a>
                        </div>
                        <a href="dongbiwu.html" class="transition" target="_blank">董必武：中国共产党的创始人之一</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="dengxiaoping.html" target="_blank"><img src="../../images/dengxiaoping.jpg"></a>
                        </div>
                        <a href="dengxiaoping.html" class="transition" target="_blank">邓小平论弘扬斗争精神</a>
                    </li>
                    <li>
                        <div class="hot-article-img">
                            <a href="caihesen.html" target="_blank"><img src="../../images/caihesen.jpg"></a>
                        </div>
                        <a href="caihesen.html" class="transition" target="_blank">蔡和森：中国共产党工人运动领袖</a>
                    </li>
<!--                    <li>-->
<!--                    	<div class="hot-article-img">-->
<!--                        	<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
<!--                    	</div>-->
<!--                    	<a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
<!--                	</li>-->
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
            <!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

