<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>【战“疫”说理】中国精神在战“疫”中的生动体现</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

	<div class="container">
		<div class="navbar-header transition">
			<a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
		</div>
		<ul class="nav navbar-nav navbar-left" id="jsddm">
			<li class="nav-news js-show-menu">
				<a href="#">快讯 <span class="caret"></span></a>
				<ul>
					<li><a href="../../news_political.html" target="_blank">热点社评</a></li>
					<!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
					<li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
				</ul>
			</li>
			<style>
				#jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
				#jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
			</style>
			<!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
			<li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
			<li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
			<!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
			<li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
		</ul>

	</div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
				<ul>
					<!--普通文章分享微博-->
					<div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
					<!--普通文章分享微信-->
					<div onclick="shareTo('qq')">
						<li class="weixin">
							<!--                        <div class="weixin-Qr-code "></div>-->
							<a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
						</li>
					</div>
					<!--普通文章分享qq空间 -->
					<div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

				</ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">【战“疫”说理】中国精神在战“疫”中的生动体现</h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020-04-01 11:13 </span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://www.81.cn/" target="_blank">中国军网</a></span>
					<span class="author-name"><a href="#" >&nbsp;&nbsp;作者：&nbsp;&nbsp;雷巧玲 李静 乔晓妍</a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
				<p>岁末年初，一场突如其来的新冠肺炎疫情仿佛给我们按下暂停键，我们不得不改变工作、学习及生活的轨迹。在以习近平同志为核心的党中央统一领导下，举国上下齐动员，勠力同心抗疫情。今天，我们已经度过了最艰难的时刻，疫情防控形势持续向好。之所以取得这样的成果，是因为有伟大的民族精神的支撑，正如习近平总书记《在统筹推进新冠肺炎疫情防控和经济社会发展工作部署会议上的讲话》中指出，“中国人民在疫情防控中展现的中国力量、中国精神、中国效率，展现的负责任大国形象，得到国际社会高度赞誉。”中华民族伟大的民族精神激励我们众志成城，共克时艰。</p>
<br>
				<p>中国精神是中华民族在五千多年的历史长河中，由一代代中华儿女不断书写和培育的，并凝炼为以爱国主义为核心的民族精神和以改革创新为核心的时代精神。习近平总书记将伟大的民族精神概括为伟大的创造精神、伟大的奋斗精神、伟大的团结精神及伟大的梦想精神。中国精神历久弥新，在这场全国战“疫”的过程中迸发出勃勃生机，爱国、团结、奋斗、创造、担当这五个关键词，是中国精神在这场战“疫”中的生动体现。</p>
				<br>
				<p>战“疫”使爱国精神空前高涨</p>

				<p>爱国主义是中华民族精神的核心，是激励我们自强不息的精神力量。中华民族是一个有着爱国主义传统的民族，历史上苏武牧羊、岳母刺字等故事一直流传至今。正因为有爱国主义的传统，所以我们民族的凝聚力特别的强。站在人类发展的历史的舞台上，放眼望去，我们之所以能够成为唯一一个从未中断过的发展5000多年的文明，就是因为我们有爱国主义的传统，有爱国主义的精神基因。习近平总书记曾回忆说，他自从五六岁听妈妈讲精忠报国、岳母刺字的故事后，“精忠报国”就成为他一生追求的目标。在此次战“疫”中，医务工作者要穿上厚厚的防护服，有的将“精忠报国”四个字写在防护服的后背，用这种精神激励自己，也激励着看到这四个字的所有人。正是因为有着爱国主义的精神基因，所以战“疫”一打响，许多人纷纷请缨，成为让人泪目的伟大的逆行者。在4.2万多名驰援湖北的医护人员中，有年事已高的“80”后院士，还有刚过而立之年或刚刚成年的1.2万多名“90后”及“00后”，他们顽强拼搏、无私奉献，用自己的行动书写下与祖国同命运的华丽篇章，他们感动了中国，也感动了世界。</p>
				<br>
				<p>2018年5月2日,习近平总书记在北京大学师生座谈会上曾讲出自己的期待，他说“爱国，不能停留在口号上，而是要把自己的理想同祖国的前途、把自己的人生同民族的命运紧密联系在一起，扎根人民，奉献国家。”战“疫”中的青年人用行动书写了答案。3月15日，习近平总书记给北大援鄂医疗队“90后”党员回信中称赞道：“广大青年用行动证明，新时代的中国青年是好样的，是堪当大任的！”</p>
				<br>
				<p>战“疫”迸发出伟大的团结精神</p>

				<p>团结就是力量，团结越紧力量越大，若国人同心同德、群策群力，中国力量就无比强大。根据国家统计局数据显示，在2019年末中国大陆总人口已达到14亿，位居世界第一。在此次战“疫”过程中，可以看到我国有效地将人口上的数量优势转化为实力优势，全国人民紧密团结在以习近平同志为核心的党中央周围，齐心协力共同打赢这场疫情阻击战。</p>
				<br>
				<p>其中最具中国特色的就是“一方有难，八方支援”的团结精神，将中华儿女紧紧绑在了一起。在战“疫”的前线，新冠肺炎疫情发生之后，从1月24日到3月8日，全国有346支医疗队4.26万人驰援武汉和湖北，在一线与病魔做生死斗争。在《人民日报》中向每一位援鄂医务人员进行了致敬，让每个名字都闪闪发亮，并且将代表队都取了可爱的名称，有逢凶化“吉”、“津”字招牌、力“皖”狂澜、“贵”人相助等等。同时，中央还决策部署建立对口支援机制，各地组织精兵强将驰援湖北。这些来自祖国各地，抱有不怕牺牲、吃苦耐劳精神的战士们，在这场与病魔的较量中为人民的安全撑起了保护伞。在战“疫”的背后，全国人民纷纷用自己的实际行动参与到抗击疫情的过程中，从党员开始带头，各级组织积极响应，为抗击疫情进行集资。同时，不局限在党组织范围内，社会各界也纷纷响应，各大集团、个体都倾囊相助。除此之外，还有为生产口罩、防护服、呼吸机等必备医疗用品紧急返岗的职业工人们，放弃了一年中最珍贵的假期重回岗位来保障物资供应。</p>
				<br>
				<p>这些积极的举措，为抗击疫情提供了坚实的物质基础与精神力量，向全国人民传递着温暖。一个人的力量或许是微弱的，但团结起来的集体所产生的能量是无穷的。正如中国谚语“众人拾柴火焰高”，这场战“疫”背后国人所展现出的惊人的团结精神，让国际上再次感受到了强大的中国力量。</p>
				<br>
				<p>战“疫”凸显了伟大的奋斗精神</p>

				<p>在这场没有硝烟的战争中，在这次惨痛的火的洗礼下，涌现了许多“最美逆行者”和“阵地坚守者”。这些国家战士深知自己面对的是什么，是在生与死之间徘徊，但仍要用尽全力保障大家的安全，这背后是伟大的奋斗精神的支撑。</p>
				<br>
				<p>在疫情爆发的一线，白衣战士们工作前要穿戴好防护服、护目镜等防护工具，为节约医疗装备，经常一进入工作区就要工作8个小时以上再换班，甚至需要成人纸尿裤等进行辅助。脱下防护工具后，他们原本俊俏的脸颊呈现了深深的压痕，甚至为更好进行工作将原本茂密的秀发残忍剔除。这些白衣战士无论条件如何变化，始终奋斗在一线，甚至做出了生命的牺牲，这些英雄值得我们铭记一生。在疫情防控的一线，基层领导干部、工作人员始终在奋斗的前沿，从国家管控、武汉封城到小区管理，各级层面上都有不少的干部群众进行着服务工作，只为有效实现与病毒的隔离。</p>
				<br>
				<p>习近平总书记强调奋斗是青春最靓丽的底色，在此次战“疫”过程中的国家战士们不惧艰险与生命威胁，始终坚守阵地，奋斗在治理、防控的最前沿，最大程度保障人民大众的安全，是国家的坚定守护者。</p>
				<br>
				<p>战“疫”激发出伟大的创造精神</p>

				<p>在灾难和挑战中，往往也孕育着新的发展机遇，为社会建设发展提供新的视点。在战“疫”过程中，面对扑面而来的众多挑战，更好防范化解重大疫情，中国政府与社会组织等各界人士积极应对，不断创新、创造，在治疗模式、药物，疫情防范等方面都充分展现了中国智慧。</p>
				<br>
				<p>治疗模式上，借鉴了非典时期北京小汤山医院模式，在武汉相继建立了雷神山、火神山医院，用惊人的中国速度，在十天左右进行了交付，有效解决了疫情爆发高潮期资源紧张的紧急状况；治疗药物上，加快推进疫苗研制工作，坚持中西医并重，改变传统上配合难困境为“混合双打”，对病人进行有效治疗；疫情防范上，针对公共场所疫情防控的难度，北京率先研发试点AI测温系统、浙江首发推出健康码来作为出入通行的凭证等。除此之外，这场疫情过后，我们将得到很多的经验教训，今后将更加重视数字化管理、生物安全领域创新等问题。</p>
				<br>
				<p>在各类新型防范举措背后，是科研人员的殷勤付出，为更加、更快、更有效度过此次难关，攻坚破难，实现了技术、科技的不断创新、创造。这一过程中涌现出的创造精神既为战“疫”获胜提供技术支持，也向国内外展示了中国的实力，为提高国际话语权给予了支撑。</p>
				<br>
				<p>战“疫”彰显出中国的大国担当精神</p>

				<p>直面此次战“疫”，习近平总书记始终将人民群众的生命安全和身体健康放在第一位，在疫情发展的动态过程中，坚持人类命运共同体观念，深刻体现着大国的担当。在疫情防控中，我国现阶段取得的成效是有目共睹的，这为世界各国防控疫情提供了宝贵的经验。</p>
				<br>
				<p>我国政府果断采取举措，重拳出击，积极进行防控与治疗，每日公开新增、疑似、死亡病例数，面对每一个数字的变化，最大程度上保障了真实与准确，体现了一个国家敢于面对现状的精神。同时，针对国际上散播的谣言，我国外交部进行了猛烈的抨击，坚决禁止将中国抗疫污名化。这些举措都向国人展示出了中国勇于面对并坚决捍卫合法权利，维护国家形象的担当精神。</p>
				<br>
				<p>当中国的疫情防控已经取得显著成效，我们仍保持公开，及时向国内外发布疫情信息，积极回应国际社会关切。同时，在有余力的基础上积极向其他出现疫情扩散的国家和地区提供力所能及的援助，营造了全球范围内互帮互助的良好风气。中国在这场抗疫战争中，不仅仅是只在以本国关切，而是将视野置于全球化中，为全人类的安全提供保障，切实体现了一个大国应有的担当与作为，真切维护全球利益。</p>
				<br>
				<p>习近平总书记强调，“中华民族历史上经历过很多磨难，但从来没有被压垮过，而是愈挫愈勇，不断在磨难中成长、从磨难中奋起。”全国人民在抗“疫”过程中迸发出了磅礴力量，同时间赛跑，与病魔较量，形成了抗击病魔的强大合力，推动构建战“疫”中的中国精神，体现出中国人民爱国、团结、奋斗、创造、担当的时代特质。战“疫”中的中国精神也将像红船精神、长征精神、延安精神、“两弹一星”精神、抗洪精神、载人航天精神和抗震精神等一样，作为中国人民在特定时期精神的集中呈现，丰富了中国精神的时代内涵。</p>
				<br>
				<p>“人民有信仰，民族有希望，国家有力量。”伟大的爱国精神、伟大的创造精神、伟大的奋斗精神、伟大的团结精神、伟大的担当精神不仅为战“疫”提供了强大的精神动力，也必定为中国梦的实现提供丰厚的精神积淀。中国精神将代代传承，不断续写新的篇章。</p>
<!--				<br><br>-->
<!--				<p>【注：本文为陕西省社会科学基金项目“新时代地方党政干部正向激励机制研究——以陕西省为例,立项号2018E006;陕西省教育科学“十三五”规划2018年度课题“大学生习近平新时代中国特色社会主义思想认同研究,立项号SGH18H002的阶段性成果。】</p>-->
<!--				<br><br>-->
<!--				<p>（作者：雷巧玲、李静、乔晓妍，西安交通大学马克思主义学院教授、研究生、研究生）</p>-->
<!--				<br><br>-->
<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
<!--                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%BC%A0%E5%A4%AA%E9%9B%B7" target="_blank">张太雷</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/2020%E5%B9%B4%E6%96%B0%E5%86%A0%E8%82%BA%E7%82%8E%E7%96%AB%E6%83%85%E5%8F%91%E5%B1%95%E5%AE%9E%E5%BD%95" target="_blank">新冠疫情</a></li>
<!--                    	<li class="transition"><a href="#" target="_blank">人生观</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%9E%BF%E7%A7%8B%E7%99%BD/115748" target="_blank">瞿秋白</a></li>-->
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E7%B2%BE%E7%A5%9E/16606670" target="_blank">中国精神</a></li>
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%B8%B8%E5%B7%9E/171784" target="_blank">常州</a></li>-->
                    	<li class="transition"><a href="https://baijiahao.baidu.com/s?id=1662547553005643096&wfr=spider&for=pc" target="_blank">大国担当</a></li>
                    	<li class="transition"><a href="http://www.xinhuanet.com/politics/xxgzbdgrdfyyq/index.htm" target="_blank">抗击疫情</a></li>
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%81%BD%E4%BB%A3%E8%8B%B1/1009269?fr=aladdin" target="_blank">恽代英</a></li>-->
<!--                    	<li class="transition"><a href="#" target="_blank">革命先驱</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                    	<div class="hot-article-img">
                        	<a href="../news_campus/article2.html" target="_blank"><img src="../../images/news/tianda2.jpg"></a>
                    	</div>
                    	<a href="../news_campus/article2.html" class="transition" target="_blank">战“疫”一线的天大人</a>
                	</li>
					<li>
						<div class="hot-article-img">
							<a href="../news_campus/article0.html" target="_blank"><img src="../../images/news/tianda.jpg"></a>
						</div>
						<a href="../news_campus/article0.html" class="transition" target="_blank">天津大学全力打好疫情防控阻击战</a>
					</li>
                    <li>
                    	<div class="hot-article-img">
                        	<a href="../patriotic_knowledge/article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
                    	</div>
                    	<a href="../patriotic_knowledge/article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
                	</li>
                    <li>
                    	<div class="hot-article-img">
                        	<a href="../patriotic_knowledge/article3.html" target="_blank"><img src="../../images/dangdetizhiyoushi.jpg"></a>
                    	</div>
                    	<a href="../patriotic_knowledge/article3.html" class="transition" target="_blank">中国疫情防控彰显党的体制优势</a>
               		</li>
					<li>
						<div class="hot-article-img">
							<a href="kouzhao.html" target="_blank"><img src="../../images/kouzhao.jpg"></a>
						</div>
						<a href="kouzhao.html" class="transition" target="_blank">戴口罩能不能进行剧烈运动？</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="xishou.html" target="_blank"><img src="../../images/xishou.jpg"></a>
						</div>
						<a href="xishou.html" class="transition" target="_blank">"七步洗手法"，你学会了吗？</a>
					</li>
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
	<div class="modal-backdrop fade in js-modal-backdrop"></div>
	<div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
			<!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
		<div class="footer-icon-list pull-right">
			<ul class="Qr-codee">
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
					<i class="icon icon-footer icon-footer-wx"></i>
				</li>
				</a>
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
					<i class="icon icon-footer icon-footer-rss"></i></li>
				</a>
			</ul>
		</div>
	</div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

