<!DOCTYPE html>
<html>
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>环球时报社评：防疫形势难以支持美欧大规模复工 </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta name="renderer" content="webkit">
	<meta name="baidu-site-verification" content="R9XA5lWxu2" />
	 <link rel="shortcut icon" href="../../images/logo/logo.png" />
	<meta name="keywords" content="天大毛概">
	<meta name="description" content="天大毛概">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/build.css">
	<link href="../../css/login.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
	<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

	<div class="container">
		<div class="navbar-header transition">
			<a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
		</div>
		<ul class="nav navbar-nav navbar-left" id="jsddm">
			<li class="nav-news js-show-menu">
				<a href="#">快讯 <span class="caret"></span></a>
				<ul>
					<li><a href="../../news_political.html" target="_blank">热点社评</a></li>
					<!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
					<li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
				</ul>
			</li>
			<style>
				#jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
				#jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
			</style>
			<!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
			<li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
			<li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
			<!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
			<li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
		</ul>

	</div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
	<div class="article-section" data-aid="197460">
		<div class="container" id="article197460">
			<div class="nrtj-wrap" id="nrtj-wrap197460"></div>
			<div class="wrap-left pull-left">
				<!--文章内容页-->
				<div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
					<ul>
						<!--普通文章分享微博-->
						<div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
						<!--普通文章分享微信-->
						<div onclick="shareTo('qq')">
							<li class="weixin">
								<!--                        <div class="weixin-Qr-code "></div>-->
								<a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
							</li>
						</div>
						<!--普通文章分享qq空间 -->
						<div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

					</ul>
				</div>
				<div class="article-wrap">
					<h1 class="t-h1">环球时报社评：防疫形势难以支持美欧大规模复工 </h1>
					<div class="article-author">

						<span class="m-con-time">文章发表时间：2020-04-15</span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="https://www.huanqiu.com/" target="_blank">环球时报</a></span>
						<span class="author-name"><a href="#" >&nbsp;&nbsp;&nbsp;&nbsp;编辑丨林雁雯</a></span>
						<!--                <div class="column-link-box">-->
						<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
						<!--                    <span class="article-share pull-left">收藏87</span>-->
						<!--                    <span class="article-pl pull-left">评论16</span>-->
						<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
						<!--                </div>                     -->
					</div>
					<!--管理员按钮-->
					<div class="article-manage-bar" id="article-manage-bar197460"></div>
					<!--文章头图-->
					<div class="article-img-box"></div>
					<div id="article_content197460" class="article-content-wrap">
						<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



						<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
						<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
						<article class="article" id="mp-editor">
							<!-- 政务处理 -->
							<p cms-style="font-L">　　欧洲的疫情在高位上出现了缓解势头，美国疫情最严重的纽约州也有了新增确诊病例和死亡病例双下降的变化，这些都说明过去一段时间采取的抗疫措施已在产生效果。</p>
							<p cms-style="font-L">　　不过很难说欧美疫情出现了“拐点”，用疫情在高位上的缓解来支持欧美不断传出的复工计划也是勉强的。欧洲主要疫情国家目前每日的新增确诊和死亡病例都还高于整个中国疫情高峰时的数据，美国就更不用说了，它的单日新增确诊和死亡病例还在20000和1000以上，从流行病学的角度看，疫情在欧美仍然非常严重。</p>
							<p cms-style="font-L">　　欧盟近日提供了一份退出严格限制措施的路线图，提出的条件是病例显著减少，以及医院有接收更多新感染病人的足够能力。欧盟提出这样的较低标准应当说有它的不得已和难处，按照这样的指导，很多欧洲国家都能在一定程度上达标，重启经济。</p>
							<p cms-style="font-L">　　美国没有这样的公开文件，但官员们的一些表态流露出比欧盟更高的急切。那些美国官员也谈论要在恢复经济和抗疫之间寻求一种“平衡”，而这种平衡的方向和重心更像是经济，而不是减少疫情造成的死亡。</p>
							<p cms-style="font-L">　　美国在有大量前车之鉴的情况下仍未能挡住疫情的大暴发，尤其是因为政治主导了各国的决策，而非流行病学的经验。这种情况在疫情初期很容易出现，然而现在相同的逻辑看来保持了强势。尽可能控制疫情，最大限度地减少感染和死亡很难成为美国等平衡经济与防疫的价值侧重点。</p>
							<p cms-style="font-L">　　可以理解的是，美欧国家有他们各自的实际情况，“经济停摆”的延长在他们那里对执政党往往有着比疫情造成死亡更为严重的伤害。就美国来说，它毕竟是资本主义社会，维持经济活动实为社会中高于人道主义的价值优先项，也是社会运转的基本方式。</p>
							<p cms-style="font-L">　　经济活动对全世界也都是基础性的，然而这次疫情证明了它具有我们人类以前不熟悉的颠覆性力量。恢复经济必须是安全的，能够确保疫情不出现大的反弹，否则的话，重新活跃起来的经济活动就不具有可持续性，这个道理几乎是常识性的。我们担心，这个常识会在有的国家再次遭到漠视。</p>
							<p cms-style="font-L">　　世卫组织给出了解除防疫措施的一些条件，它们包括：疫情是否受控，是否有能力追踪、隔离每个新增病例及其密切接触者，工作间和人群密集场所是否已采取预防措施等等。这些条件显然更加科学，而关键的第二条是欧美国家普遍最缺乏的，第三条也有很高不确定性。</p>
							<p cms-style="font-L">　　最重要的是，恢复经济与控制疫情之间的任何平衡都非常脆弱，一旦疫情大幅反弹，它的破坏力已被证明是颠覆性的。欧美一些人一直没有放弃“群体免疫”的想法，然而必须说，美欧的疫情之所以能够在高位上有所缓和恰恰是拒绝群体免疫、保持社交距离这一积极防疫措施的结果。</p>
							<p cms-style="font-L">　　美欧国家现在的情形根本不具备真搞群体免疫的资本，他们实际上也搞了本国社会所能接受的最大力度防疫，如果放松防疫，疫情反弹的风险将非常高。</p>
							<p cms-style="font-L">　　一旦疫情在美欧反复，或者在全球范围内形成疫情震中的四处流窜，其后果肯定将是灾难的不断延续。中国正在经历针对境外输入病例的严防死守，也在经历以不让疫情反弹作为底线的复工与防疫的艰巨权衡。我们深感恢复经济活动鲁莽不得，同样深感哪个国家都休想独善其身，各国面对这场疫情时比任何时候都更像一个命运共同体。</p>
						</article>


						<!--                 <div class="neirong-shouquan">-->
						<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
						<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
						<!--                      <br />-->
						<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
						<!--                 </div>-->
						<!--                 <div class="neirong-shouquan-public">-->
						<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
						<!--                 </div>-->
					</div>
					<!--			<div class="Qr-code">-->
					<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
					<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
					<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
					<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
					<!--                 </div>-->
					<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
					<!--                 <div class="js-qr-img transition info-false">-->
					<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
					<!--                           <ul>-->
					<!--                               <li class="zhifb-mouseover">-->
					<!--                               	   <i class="icon icon-zhifb"></i>-->
					<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
					<!--                                </li>-->
					<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
					<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
					<!--                                </li>                                      -->
					<!--                           </ul>-->
					<!--                       </div>-->
					<!--                  </div>-->
					<!--             </div>-->
					<!--管理员底部按钮-->
					<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
					<!--			 <div class="tag-box ">-->
					<!--                  <ul class="transition">-->
					<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
					<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
					<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
					<!--                   </ul>-->
					<!--              </div>-->
					<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
					<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
					<!--                   <div class="pl-form-wrap">-->
					<!--                        <span class="span-mark-author active">发表评论</span>-->
					<!--                        <div class="pl-form-box pl-article-wrap">-->
					<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
					<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
					<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
					<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
					<!--                        </div>-->
					<!--                   </div>-->
					<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
					<!--                   <div class="pl-list-wrap">-->
					<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
					<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
					<!--                        <i class="icon icon-line-pl"></i>-->
					<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
					<!--                        <div class="pl-box-wrap">-->
					<!--                			<div class="pl-box-top">-->
					<!--            					<div class="dropdown pull-right">-->
					<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
					<!--                    					<span class="caret"></span>-->
					<!--                					</button>-->
					<!--            					</div>-->
					<!--            					<div class="author-info">-->
					<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
					<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
					<!--                					<span class="time">6天前</span>-->
					<!--            					</div>-->
					<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
					<!--                    		</div>-->
					<!--        					<div class="pl-box-btm">-->
					<!--                            	<div class="article-type pull-right">-->
					<!--                					<div class="icon-like-prompt">-->
					<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
					<!--                					</div>-->
					<!--                					<div class="icon-no-like-prompt">-->
					<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
					<!--                					</div>-->
					<!--                					<ul>-->
					<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
					<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
					<!--                					</ul>-->
					<!--            					</div>-->
					<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
					<!--            					<div class="pl-form-box dp-article-box">-->
					<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
					<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
					<!--            					</div>-->
					<!--        					</div>-->
					<!--                            -->
					<!--    					</div>-->
					<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
					<!--                			<div class="pl-box-top">-->
					<!--            					<div class="dropdown pull-right">-->
					<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
					<!--                    					<span class="caret"></span>-->
					<!--                					</button>-->
					<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
					<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
					<!--                					</ul>-->
					<!--            					</div>-->
					<!--            					<div class="author-info">-->
					<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
					<!--                					<span class="author-name">-->
					<!--                    					<a href="#">lingboxiu</a>-->
					<!--                    					<a href="#" target="_blank"></a>-->
					<!--                					</span>-->
					<!--                					<span class="time">6天前</span>-->
					<!--            					</div>-->
					<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
					<!--                            	<div class="dp-box">-->
					<!--                    				<span class="span-mark-author">点评</span>-->
					<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
					<!--                            			<ul>-->
					<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
					<!--                                        </ul>-->
					<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
					<!--                                		<div class="one-pl-content one-pl-content-box">-->
					<!--                                    		<div class="pull-right time">6天前</div>-->
					<!--												 <p class="content">-->
					<!--                                        			<span class="name">寂地_</span>-->
					<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
					<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
					<!--                                    			 </p>-->
					<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
					<!--                                                 <div class="hu-pl-box">-->
					<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
					<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
					<!--                                    			 </div>-->
					<!--                                			</div>-->
					<!--                                        </div>-->
					<!--                        				<div class="dp-list-box" style="display:none">-->
					<!--                                               <div class="dl-user del-pl108924">-->
					<!--                                    				    <ul>-->
					<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
					<!--                                    					</ul>-->
					<!--                                    					<div class="one-pl-content">-->
					<!--                                        				 	 <div class="pull-right time">6天前</div>-->
					<!--                                       						 <p class="content">-->
					<!--                                            					<span class="name">寂地_</span>-->
					<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
					<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
					<!--                                       						 </p>-->
					<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
					<!--                                                             <div class="hu-pl-box">-->
					<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
					<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
					<!--                                        					 </div>-->
					<!--                                    					 </div>-->
					<!--                                					</div>-->
					<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
					<!--                                              </div>-->
					<!--                						</div>-->
					<!--                    			</div>-->
					<!--          						<div class="pl-box-btm">-->
					<!--            						<div class="article-type pull-right">-->
					<!--                						<div class="icon-like-prompt">-->
					<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
					<!--                						</div>-->
					<!--                						<div class="icon-no-like-prompt">-->
					<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
					<!--                						</div>-->
					<!--                						<ul>-->
					<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
					<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
					<!--                						</ul>-->
					<!--            						</div>-->
					<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
					<!--            						<div class="pl-form-box dp-article-box">-->
					<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
					<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
					<!--            						</div>-->
					<!--        						</div>-->
					<!--    						</div>-->

					<!--                       </div>-->
					<!--              </div>-->
					<!--相关文章位置-->
					<div id="related-article-wrap197460"></div>
				</div>
			</div>
			<div class="wrap-right pull-right">
				<div class="box-author-info">
					<!--        	<div class="author-face">-->
					<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
					<!--    		</div>-->
					<!--    		<div class="author-name">-->
					<!--        		<a href="#" target="_blank">判官</a>-->
					<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
					<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
					<!--        	</div>-->
					<!--    		<div class="author-one">产品老司机</div>-->
					<!--    		<div class="author-one">产品个体户</div>-->
					<!--    		<div class="author-article-pl">-->
					<!--        		<ul>-->
					<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
					<!--        		</ul>-->
					<!--    		</div>-->
					<!--        	<div class="author-next-article">-->
					<!--        		<div class="author-one c2">最近文章</div>-->
					<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
					<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
					<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
					<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
					<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
					<!--    			</div>-->
					<!--        	</div>-->
					<!--    		<div class="box-moder hot-tag">-->
					<!--        		<h3>本文标签</h3>-->
					<!--&lt;!&ndash;        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>&ndash;&gt;-->
					<!--        		<span class="span-mark"></span>-->
					<!--        		<div class="search-history search-hot">-->
					<!--            		<ul>-->
					<!--                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%8F%B3%E7%8E%89%E7%B2%BE%E7%A5%9E" target="_blank">右玉精神</a></li>-->
					<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%B1%BE%E6%B2%B3/1060428" target="_blank">汾河</a></li>-->
					<!--						<li class="transition"><a href="https://baike.baidu.com/item/%E4%B9%A0%E8%BF%91%E5%B9%B3" target="_blank">习近平</a></li>-->
					<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%9B%9B%E4%B8%AA%E5%85%A8%E9%9D%A2/16391989" target="_blank">四个全面</a></li>-->

					<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%94%9F%E6%80%81%E6%96%87%E6%98%8E%E5%BB%BA%E8%AE%BE" target="_blank">生态文明建设</a></li>-->

					<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%BB%BF%E8%89%B2%E5%8F%91%E5%B1%95" target="_blank">绿色发展</a></li>-->
					<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E2%80%9C%E4%BA%94%E4%BD%8D%E4%B8%80%E4%BD%93%E2%80%9D%E6%80%BB%E4%BD%93%E5%B8%83%E5%B1%80?fromtitle=%E4%BA%94%E4%BD%8D%E4%B8%80%E4%BD%93&fromid=9729486" target="_blank">五位一体</a></li>-->
					<!--&lt;!&ndash;                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%A9%BA%E8%B0%88%E8%AF%AF%E5%9B%BD%EF%BC%8C%E5%AE%9E%E5%B9%B2%E5%85%B4%E9%82%A6" target="_blank">汾河</a></li>&ndash;&gt;-->
					<!--&lt;!&ndash;                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%81%BD%E4%BB%A3%E8%8B%B1/1009269?fr=aladdin" target="_blank">恽代英</a></li>&ndash;&gt;-->
					<!--&lt;!&ndash;                    	<li class="transition"><a href="#" target="_blank">革命先驱</a></li>&ndash;&gt;-->
					<!--            		</ul>-->
					<!--        		</div>-->
					<!--    		</div>-->
					<div class="placeholder"></div>
					<div class="box-moder hot-article">
						<h3>相关热文</h3>
						<span class="span-mark"></span>
						<ul>
							<li>
								<div class="hot-article-img">
									<a href="article4.html" target="_blank"><img src="../../images/renminribao.jpg"></a>
								</div>
								<a href="article4.html" class="transition" target="_blank">人民论坛：永葆共产党人的先锋本色</a>
							</li>
							<li>
								<div class="hot-article-img">
									<a href="article1.html" target="_blank"><img src="../../images/logo/huanqiushibao.jpg"></a>
								</div>
								<a href="article1.html" class="transition" target="_blank">环球时报社评：美对华舆论战不断翻新，中国扛得住</a>
							</li>
							<li>
								<div class="hot-article-img">
									<a href="article3.html" target="_blank"><img src="../../images/xinhuashe.jpg"></a>
								</div>
								<a href="article3.html" class="transition" target="_blank">新华国际时评：新冠疫情下的“美国病”</a>
							</li>
							<!--                    <li>-->
							<!--                    	<div class="hot-article-img">-->
							<!--                        	<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/191327154498.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
							<!--                    	</div>-->
							<!--                    	<a href="#" class="transition" target="_blank">顺丰，菜鸟，令狐冲，岳不群</a>-->
							<!--               		</li>-->
							<!--                    <li>-->
							<!--                    	<div class="hot-article-img">-->
							<!--                        	<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
							<!--                    	</div>-->
							<!--                    	<a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
							<!--                	</li>-->
							<!--					<li>-->
							<!--						<div class="hot-article-img">-->
							<!--							<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
							<!--						</div>-->
							<!--						<a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
							<!--					</li>-->
							<!--					<li>-->
							<!--						<div class="hot-article-img">-->
							<!--							<a href="#" target="_blank"><img src="https://img.huxiucdn.com/article/cover/201706/04/105715329877.jpg?imageView2/1/w/280/h/210/|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>-->
							<!--						</div>-->
							<!--						<a href="#" class="transition" target="_blank">3年了，我们的内容消费发生了什么变化？</a>-->
							<!--					</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="article-section article-section-last"></div>
	</div>

</div>
<footer class="footer">
	<div class="modal-backdrop fade in js-modal-backdrop"></div>
	<div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
			<!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
		<div class="footer-icon-list pull-right">
			<ul class="Qr-codee">
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
					<i class="icon icon-footer icon-footer-wx"></i>
				</li>
				</a>
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
					<i class="icon icon-footer icon-footer-rss"></i></li>
				</a>
			</ul>
		</div>
	</div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
	$(document).ready(function() {
		$(".dp-article-box").fadeOut(0);
		$(".js-add-dp-box").click(function() {
			$(".dp-article-box").not($(this).next()).slideUp('fast');
			$(this).next().slideToggle(400);
		});
	});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

