<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在汾河之滨，读懂习近平生态文明思想的丰富内涵 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
     <link rel="shortcut icon" href="../../images/logo/logo.png" />
    <meta name="keywords" content="天大毛概">
    <meta name="description" content="天大毛概">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/build.css">
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/zzsc.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/dlzc.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="../../js/main.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/popwin.js"></script>
</head>


<body>
<header id="top" role="banner" class="transition">

	<div class="container">
		<div class="navbar-header transition">
			<a href="../../index.html" title="首页"><img src="../../images/logo/logo2.png" alt="天大毛概" title="首页" /></a>
		</div>
		<ul class="nav navbar-nav navbar-left" id="jsddm">
			<li class="nav-news js-show-menu">
				<a href="#">快讯 <span class="caret"></span></a>
				<ul>
					<li><a href="../../news_political.html" target="_blank">热点社评</a></li>
					<!--					<li><a href="#" target="_blank">疫情快讯</a></li>-->
					<li><a href="../../news_campus.html" target="_blank">校内快讯</a></li>
				</ul>
			</li>
			<style>
				#jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
				#jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
			</style>
			<!-- <li class="nav-news"><a href="#" target="_blank">正能量新闻<span class="nums-prompt nums-prompt-topic"></span></a></li> -->
			<li class="nav-news"><a href="../../celebrity.html" target="_blank">爱国人物科普</a></li>
			<li class="nav-news"><a href="../../patriotic_knowledge.html" target="_blank">爱国知识科普<span class="nums-prompt"></span></a></li>
			<!-- <li class="nav-news"><a href="#" target="_blank">疫情快讯<em class="nums-prompt"></em></a></li> -->
			<li class="nav-news"><a href="../../protection.html" target="_blank">疫情防护科普</a></li>
		</ul>

	</div>


</header>
<div class="placeholder-height"></div>
<div class="article-section-wrap">
    <div class="article-section" data-aid="197460">
    <div class="container" id="article197460">
        <div class="nrtj-wrap" id="nrtj-wrap197460"></div>
        <div class="wrap-left pull-left">
            <!--文章内容页-->
            <div class="article-left-btn-group is-sticky" id="article-left-btn-group197460">
				<ul>
					<!--普通文章分享微博-->
					<div onclick="shareTo('sina')"> <li ><i class="icon icon-article icon-article-wb js-weibo js-share-article" data-location="article" data-f="pc-weibo-article" aid="197460"></i></li></div>
					<!--普通文章分享微信-->
					<div onclick="shareTo('qq')">
						<li class="weixin">
							<!--                        <div class="weixin-Qr-code "></div>-->
							<a class="js-weixin" data-f="pc-friends-article"><i class="icon icon-article icon-article-pyq" ></i></a>
						</li>
					</div>
					<!--普通文章分享qq空间 -->
					<div onclick="shareTo('qzone')"> <li><a href=""><i class="icon icon-article icon-article-qzone js-qzone js-share-article" data-location="article" data-f="pc-qzone-article" aid="197460"></i></a></li></div>

				</ul>
            </div>
            <div class="article-wrap">
                <h1 class="t-h1">在汾河之滨，读懂习近平生态文明思想的丰富内涵 </h1>
                <div class="article-author">

				<span class="m-con-time">文章发表时间：2020-05-15 11:47</span><span class="m-con-source">&nbsp;&nbsp;&nbsp;来源：<a href="http://news.cctv.com/" target="_blank">央视网</a></span>
					<span class="author-name"><a href="#" >&nbsp;&nbsp;&nbsp;&nbsp;编辑丨宁黎黎 栾熙彦 </a></span>
<!--                <div class="column-link-box">-->
<!--                	<span class="article-time pull-left">2017-05-30 16:30</span>-->
<!--                    <span class="article-share pull-left">收藏87</span>-->
<!--                    <span class="article-pl pull-left">评论16</span>-->
<!--&lt;!&ndash;                    <a href="#" class="column-link" target="_blank">创业维艰</a> <i></i>&ndash;&gt;-->
<!--                </div>                     -->
            </div>
<!--管理员按钮-->
            <div class="article-manage-bar" id="article-manage-bar197460"></div>                                
                                    <!--文章头图-->
            <div class="article-img-box"></div>
            <div id="article_content197460" class="article-content-wrap">
<!--                 <p>有些人和企业的厉害之处，在于从一个看似成熟、红海的领域，硬生生拓展出一片蓝海市场来，而且生意做到风生水起。</p><p><br/></p><p>而这种闯出一片新天地的方法，最常见的一种，就是将原有的产品或服务模式中的某个元素，推向极致，拓展出新的用户场景和产品价值，自然就拓展出了新的市场。</p><p><br/></p><p>今天来分析三个例子，来看看这种"单一元素推向极致"的手段有多厉害。</p><p><br/></p><p><strong>第一个例子，是前段时间非常火爆的电话亭式KTV。</strong></p><p><br/></p><p>我不知道现在还有多少人经常去KTV唱歌。我能看到的是，在一线城市，传统的量贩式KTV市场一再萎缩，以钱柜、麦乐迪为代表的老企业日渐衰败，新的主打小户型的唱吧麦颂半死不活。长盛不衰此起彼伏的KTV也有，但那是俗称商K的夜总会式KTV，你懂的。</p><p><br/></p><p>究其原因，现在娱乐的个性化和小群体化趋势日益明显，以前那种成群结队去唱歌，还要忍受别人五音不全的唱腔的娱乐形式，显得不够与时俱进。</p><p><br/></p><p>但是，朋友情侣三两出行，还是有唱歌娱乐的需求的。电话亭式KTV应运而生。</p><p><br/></p><p>电话亭式KTV，把时间和空间两个元素推向极致。仅容纳两到三个人的私密空间，少至一首歌或者一刻钟的欢唱时间，充分利用碎片化时间和空间，让唱歌这件事不那么仪式感和处心积虑，随时兴起就可以来一发，多么愉快。何况，曲库、音响效果并不亚于传统的KTV，甚至还有所超越。</p>               -->



<!--				<p style="TEXT-ALIGN: center" align="center"><strong>张太雷革命精神初探</strong></p>-->
<!--				<p style="TEXT-ALIGN: center" align="center"><strong>——兼论“常州三杰”的人生观</strong></p>-->
				<article class="article" id="mp-editor">
					<!-- 政务处理 -->
					<p data-role="original-title" style="display:none">原标题：在汾河之滨，读懂习近平生态文明思想的丰富内涵</p>
					<p><span style="font-size: 16px;">“要牢固树立绿水青山就是金山银山的理念，发扬‘右玉精神’，统筹推进山水林田湖草系统治理”，5月12日，习近平总书记在山西考察时特别强调要弘扬“右玉精神”。</span></p>
					<p><span style="font-size: 16px;">山西省右玉县地处毛乌素沙漠的天然风口地带，曾经是一片风沙成患、山川贫瘠的不毛之地。几十年来，一任任县委书记带领干部群众坚持种树，不毛之地变成塞上绿洲。</span></p>
					<p><span style="font-size: 16px;">习近平总书记多次对“右玉精神”作出重要批示指示：“<span>‘</span>右玉精神<span>’</span>体现的是全心全意为人民服务，是迎难而上，艰苦奋斗，是久久为功，利在长远。”</span></p>
					<p><span style="font-size: 16px;">在汾河之滨，习近平再次强调生态文明建设，要求“各级领导干部要有功成不必在我、功成必定有我的境界，不要搞急功近利的政绩工程，多做一些功在当代、利在长远、惠及子孙的事情”。</span></p>
					<p style="text-align: center;"><img src="http://p8.itc.cn/images03/20200515/0a4858696dd440698f50c363bd68f181.jpeg" /></p>
					<p><span style="font-size: 16px;">△5月12日，习近平在太原考察调研。这是习近平在汾河太原城区晋阳桥段向市民挥手致意。</span></p>
					<p><span style="font-size: 16px;">随着我国经济社会发展不断深入，生态文明建设地位和作用日益凸显。党的十八大将生态文明建设纳入中国特色社会主义事业“五位一体”总体布局，要求“把生态文明建设放在突出地位，融入经济建设、政治建设、文化建设、社会建设各方面和全过程”。</span></p>
					<p><span style="font-size: 16px;">习近平总书记高度重视生态文明建设，提出了一系列新理念新思想新战略，立意高远、内涵丰富、思想深刻，为建设中国人民心向往之的美丽中国指明了方向。</span></p>
					<p style="text-align: center;"><img src="http://p3.itc.cn/images03/20200515/cc7d11249ac44d89a3923516b1215d42.jpeg" /></p>
					<p><span>5月12日，在山西考察时，习近平总书记再次强调要坚持山水林田湖草一体化保护和修复。</span></p>
					<p><span>“山水林田湖是一个生命共同体，人的命脉在田，田的命脉在水，水的命脉在山，山的命脉在土，土的命脉在树。”早在2013年11月9日，在十八届三中全会上作关于《中共中央关于全面深化改革若干重大问题的决定》的说明时，习近平总书记就明确指出“山水林田湖是一个生命共同体”。</span></p>
					<p style="text-align: center;"><img src="http://p2.itc.cn/images03/20200515/1b7b93696b2e4b11aca3f632fba60a22.jpeg" /></p>
					<p><span style="font-size: 16px;">△右玉县牧民放养的羊群</span></p>
					<p><span style="font-size: 16px;">4年后，在2017年7月中央全面深化改革领导小组第37次会议上，习近平在谈及建立国家公园体制时说：“坚持山水林田湖草是一个生命共同体。”增加了一个“草”字，把我国最大的陆地生态系统纳入其中，使“生命共同体”的内涵更为广泛、完整。</span></p>
					<p><span style="font-size: 16px;">生态是统一的自然系统，是相互依存、紧密联系的有机链条。生态环境系统是一个复杂庞大、各元素相互交织的整体系统，只有打通彼此间的“关节”与“经脉”，通盘考虑、整体谋划，生态文明建设才能真正做到全方位。</span></p>
					<p style="text-align: center;"><img src="http://p9.itc.cn/images03/20200515/cacf662358054c33a0b5b9f844405cfa.jpeg" /></p>
					<p style="text-align: center;"><img src="http://p2.itc.cn/images03/20200515/9a580e4ee9594156b0c9879a0e2f7352.jpeg" /></p>
					<p style="text-align: left;"><span>“坚持治山、治水、治气、治城一体推进，持续用力，再现‘锦绣太原城’的盛景，不断增强太原的吸引力、影响力，增强太原人民的获得感、幸福感、安全感。” 5月12日，习近平总书记在山西太原考察时，对山西做好生态治理提出了具体要求。</span></p>
					<p style="text-align: center;"><img src="http://p5.itc.cn/images03/20200515/c5494605d6f44e98af897ff63b8b015f.png" /></p>
					<p style="text-align: left;"><span style="font-size: 16px;">△汾河景区三期与先行示范段工程交界处</span></p>
					<p><span style="font-size: 16px;">生态环境是关系党的使命宗旨的重大政治问题，也是关系民生的重大社会问题。为提供更多优质生态产品，不断满足人民群众日益增长的优美生态环境需要，习近平总书记作了一系列安排部署。</span></p>
					<p><span style="font-size: 16px;">“基本消除重污染天气，还老百姓蓝天白云、繁星闪烁”“保障饮用水安全，基本消灭城市黑臭水体，还给老百姓清水绿岸、鱼翔浅底的景象”“强化土壤污染管控和修复，有效防范风险，让老百姓吃得放心、住得安心”“要持续开展农村人居环境整治行动，打造美丽乡村，为老百姓留住鸟语花香田园风光”……</span></p>
					<p><span style="font-size: 16px;">坚持人与自然和谐共生，走绿色、低碳、循环、可持续发展的生态文明建设之路，才能共同建设一个更加美好的清洁美丽世界。</span><span style="font-size: 16px;"></span></p>
					<p style="text-align: center;"><img src="http://p2.itc.cn/images03/20200515/93025f8f6daf4194b983c77174ad973c.jpeg" /></p>
					<p><img src="http://p0.itc.cn/images03/20200515/410bd8225e004d6295777f76fcbe9382.jpeg" /></p>
					<p><span style="font-size: 16px;">习近平总书记反复强调，绿水青山就是金山银山。全面推动绿色发展，不仅是为老百姓提供更多优质生态产品，也是为老百姓打造高质量发展的金山银山。</span></p>
					<p><span style="font-size: 16px;">此次山西考察中，站在汾河之滨，习近平总书记强调，要“引导形成绿色生产生活方式，坚决打赢污染防治攻坚战，推动山西沿黄地区在保护中开发、开发中保护”。</span></p>
					<p style="text-align: center;"><img src="http://p6.itc.cn/images03/20200515/f91f8feb9c5c4b0b90df91b746a8a23f.png" /></p>
					<p><span style="font-size: 16px;">△白鹭在汾河湿地公园内嬉戏</span></p>
					<p><span style="font-size: 16px;">绿色发展是新发展理念的重要组成部分，与创新发展、协调发展、开放发展、共享发展相辅相成、相互作用，是全方位变革，是构建高质量现代化经济体系的必然要求。</span></p>
					<p><span style="font-size: 16px;">“要坚定推进绿色发展，推动自然资本大量增值，让良好生态环境成为人民生活的增长点、成为展现我国良好形象的发力点，让老百姓呼吸上新鲜的空气、喝上干净的水、吃上放心的食物、生活在宜居的环境中、切实感受到经济发展带来的实实在在的环境效益，让中华大地天更蓝、山更绿、水更清、环境更优美，走向生态文明新时代。”总书记的动情描述，反映的是人民的期盼，也是中华民族永续发展的根本要求。</span></p>
					<p><span style="font-size: 16px;">像保护眼睛一样保护生态环境，像对待生命一样对待生态环境，推动形成绿色发展方式和生活方式，我们一定能实现人民富裕、国家强盛、中国美丽。</span></p>
					<p style="text-align: center;"><img src="http://p6.itc.cn/images03/20200515/1d0bcb44f47846a1bee6207e23055327.jpeg" /></p>
					<p><span>生态文明建设是关系中华民族永续发展的根本大计。以习近平同志为核心的党中央，把生态文明建设作为统筹推进“五位一体”总体布局和协调推进“四个全面”战略布局的重要内容，开展一系列根本性、开创性、长远性工作，推动生态环境保护发生历史性、转折性、全局性变化。</span></p>
<!--					<p><span>监制丨王姗姗 张鸥</span></p>-->
<!--					<p style="text-align: justify;"><span>制片人丨兴来 吴璇</span></p>-->
<!--					<p style="text-align: justify;"><span>编辑丨宁黎黎 栾熙彦 </span></p>-->
<!--					<p style="text-align: justify;"><span>视觉丨陆明明</span><a href="//www.sohu.com/?strategyid=00001 " target="_blank" title="点击进入搜狐首页" id="backsohucom" style="white-space: nowrap;"><span class="backword"><i class="backsohu"></i>返回搜狐，查看更多</span></a></p>      &lt;!&ndash; 政务账号添加来源标示处理 &ndash;&gt;-->
<!--					&lt;!&ndash; 政务账号添加来源标示处理 &ndash;&gt;-->
<!--					<p data-role="editor-name">责任编辑：<span></span></p>-->
				</article>


				<!--                 <div class="neirong-shouquan">-->
<!--                      <span class="c2">*文章为作者独立观点，不代表天大毛概立场<br></span>-->
<!--                      <span>本文由 <a href="#" target="_blank">判官</a> 授权 <a href="/">天大毛概</a> 发表，并经天大毛概编辑。转载此文请于文首标明作者姓名，保持文章完整性（包括虎嗅注及其余作者身份信息），并请附上出处</span>-->
<!--                      <br />-->
<!--                      <span><b>未按照规范转载者，虎嗅保留追究相应责任的权利</b></span>-->
<!--                 </div>-->
<!--                 <div class="neirong-shouquan-public">-->
<!--                      <span><b>未来面前，你我还都是孩子，还不去下载 <a href="#" target="_blank">虎嗅App </a>猛嗅创新！</b></span>-->
<!--                 </div>-->
            </div>
<!--			<div class="Qr-code">-->
<!--                                                    &lt;!&ndash;普通文章点赞&ndash;&gt;-->
<!--                 <div class="praise-box transition js-like-article pull-right " data-type="like">-->
<!--                      <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>-->
<!--                      <i class="icon icon-article-zan"></i><span class="num">32</span>-->
<!--                 </div>-->
<!--				 <span class="btn tool-tip  btn-exceptional js-qr-ds transition">打赏</span>-->
<!--                 <div class="js-qr-img transition info-false">-->
<!--                      <div class="article-zfb-wx-box" onmouseover="isOut=false" onmouseout="isOut=true">-->
<!--                           <ul>-->
<!--                               <li class="zhifb-mouseover">-->
<!--                               	   <i class="icon icon-zhifb"></i>-->
<!--                                   <div class="j-btm zfbdashang-wrap"><img src="https://mobilecodec.alipay.com/show.htm?code=rex021253evapgmoq9smla8" alt=""/><i class="c2">给 Ta打个赏</i></div>-->
<!--                                </li>-->
<!--                                <li class="weix-mouseover"><i class="icon icon-weix"></i>-->
<!--                                    <div class="j-btm wxdashang-wrap"><img src="https://img.huxiucdn.com/author_qr/8/1373658_1496668398_weixin.jpg" alt=""/><i class="c2">给 Ta 打个赏</i></div>-->
<!--                                </li>                                      -->
<!--                           </ul>-->
<!--                       </div>-->
<!--                  </div>-->
<!--             </div>-->
                    <!--管理员底部按钮-->
<!--             <div class="article-manage-bar article-bottom-manage-bar" id="article-bottom-manage-bar197460"></div>-->
<!--			 <div class="tag-box ">-->
<!--                  <ul class="transition">-->
<!--                      <a href="#" target="_blank"><li class="transition">投稿</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">创业</li></a>-->
<!--                      <a href="#" target="_blank"><li class="transition">商业模式</li></a>-->
<!--                   </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash;公共评论&ndash;&gt;-->
<!--              <div class="pl-wrap" id="pl-wrap-article197460" name="pl-wrap-article">-->
<!--                   <div class="pl-form-wrap">-->
<!--                        <span class="span-mark-author active">发表评论</span>-->
<!--                        <div class="pl-form-box pl-article-wrap">-->
<!--                             <div class="no-login-box "><a class="js-login">登录</a>后参与评论</div>-->
<!--                             <textarea class="form-control hide" id="saytext197460" name="saytext" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                             &lt;!&ndash;普通文章评论发表&ndash;&gt;-->
<!--                             <button class="btn btn-article js-login transition ">发表</button>-->
<!--                        </div>-->
<!--                   </div>-->
<!--                   <div id="pl-wrap197460" name="pl-wrap"></div>-->
<!--                   <div class="pl-list-wrap">-->
<!--                        <div class="pl-loading hide"><img src="/static_2015/img/pl-loading.gif"></div>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author active js-default-new-pl" data-type="agree">默认评论</a>-->
<!--                        <i class="icon icon-line-pl"></i>-->
<!--                        <a href="javascript:void(0)" class="span-mark-author new js-default-new-pl" data-type="dateline">最新评论</a>-->
<!--                        <div class="pl-box-wrap">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/54/60/18_1479690318.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name"><a href="#">请叫我__宝器</a><a href="/vip" target="_blank"></a></span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">三个这么浅显的例子和分析就能让作者得出结论，这"一叶知秋"的本事我也是服的。</div>-->
<!--                    		</div>-->
<!--        					<div class="pl-box-btm">-->
<!--                            	<div class="article-type pull-right">-->
<!--                					<div class="icon-like-prompt">-->
<!--                    					<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<div class="icon-no-like-prompt">-->
<!--                    					<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                					</div>-->
<!--                					<ul>-->
<!--                    					<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    					<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            					<div class="pl-form-box dp-article-box">-->
<!--                					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                					<button class="btn btn-article js-article-dp">发表</button>-->
<!--            					</div>-->
<!--        					</div>-->
<!--                            -->
<!--    					</div>-->
<!--    					<div class="pl-box-wrap  " data-pid="644658" id="g_pid644658">-->
<!--                			<div class="pl-box-top">-->
<!--            					<div class="dropdown pull-right">-->
<!--                					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    					<span class="caret"></span>-->
<!--                					</button>-->
<!--                					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                                        <li class="pl-report js-report-pl" aid="197460" pid="644658">举报</li>-->
<!--                					</ul>-->
<!--            					</div>-->
<!--            					<div class="author-info">-->
<!--                					<div class="author-face"><img src="https://img.huxiucdn.com/auth/data/avatar/001/68/30/86_1496144520.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></div>-->
<!--                					<span class="author-name">-->
<!--                    					<a href="#">lingboxiu</a>-->
<!--                    					<a href="#" target="_blank"></a>-->
<!--                					</span>-->
<!--                					<span class="time">6天前</span>-->
<!--            					</div>-->
<!--            					<div class="pl-content">小罐茶，记得是非常非常贵</div>-->
<!--                            	<div class="dp-box">-->
<!--                    				<span class="span-mark-author">点评</span>-->
<!--                                    <div class="dl-user dl-user-list  " data-type="dl-user" style="display:block">-->
<!--                            			<ul>-->
<!--                                            <li class="del-pl108924"><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                        </ul>-->
<!--                                                   &lt;!&ndash;只有一条点评时显示&ndash;&gt;-->
<!--                                		<div class="one-pl-content one-pl-content-box">-->
<!--                                    		<div class="pull-right time">6天前</div>-->
<!--												 <p class="content">-->
<!--                                        			<span class="name">寂地_</span>-->
<!--                                        			<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                        			<span class="author-content">@lingboxiu 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                    			 </p>-->
<!--                                    			 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                 <div class="hu-pl-box">-->
<!--                                        			  <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                        			  <button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                    			 </div>-->
<!--                                			</div>-->
<!--                                        </div>-->
<!--                        				<div class="dp-list-box" style="display:none">-->
<!--                                               <div class="dl-user del-pl108924">-->
<!--                                    				    <ul>-->
<!--                                        					<li><a href="#" target="_blank"><img src="https://img.huxiucdn.com/auth/data/avatar/3.jpg?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a></li>-->
<!--                                    					</ul>-->
<!--                                    					<div class="one-pl-content">-->
<!--                                        				 	 <div class="pull-right time">6天前</div>-->
<!--                                       						 <p class="content">-->
<!--                                            					<span class="name">寂地_</span>-->
<!--                                            					<a href="#" target="_blank"></a>&nbsp;&nbsp;-->
<!--                                            					<span class="author-content"><a href="#" target="_blank">@lingboxiu</a> 马云家有，对我尔等来说确实是灰常贵</span>-->
<!--                                       						 </p>-->
<!--                                        					 <div class="js-hf-article-pl"><span>回复</span></div>-->
<!--                                                             <div class="hu-pl-box">-->
<!--                                            					<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                                            					<button class="btn btn-article js-article-dp" data-type="hf">发表</button>-->
<!--                                        					 </div>-->
<!--                                    					 </div>-->
<!--                                					</div>-->
<!--                                                    <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>-->
<!--                                              </div>-->
<!--                						</div>-->
<!--                    			</div>-->
<!--          						<div class="pl-box-btm">-->
<!--            						<div class="article-type pull-right">-->
<!--                						<div class="icon-like-prompt">-->
<!--                    						<i class="icon icon-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<div class="icon-no-like-prompt">-->
<!--                    						<i class="icon icon-no-like active"></i><span class="c1">+1</span>-->
<!--                						</div>-->
<!--                						<ul>-->
<!--                    						<li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">2</span></li>-->
<!--                    						<li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span class="like">1</span></li>-->
<!--                						</ul>-->
<!--            						</div>-->
<!--            						<div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>-->
<!--            						<div class="pl-form-box dp-article-box">-->
<!--                						<textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>-->
<!--                						<button class="btn btn-article js-article-dp">发表</button>-->
<!--            						</div>-->
<!--        						</div>-->
<!--    						</div>-->

<!--                       </div>-->
<!--              </div>-->
                    <!--相关文章位置-->
              <div id="related-article-wrap197460"></div>
		</div>
     </div>
     <div class="wrap-right pull-right">
     	<div class="box-author-info">
<!--        	<div class="author-face">-->
<!--        		<a href="#" target="_blank"><img src="../../images/logo.jpg"></a>-->
<!--    		</div>-->
<!--    		<div class="author-name">-->
<!--        		<a href="#" target="_blank">判官</a>-->
<!--        		<a href="#" target="_blank"><i class="i-vip icon-vip" title="虎嗅黑卡会员"></i></a>-->
<!--        		<i class="i-icon icon-auth3" title="虎嗅认证作者"></i>    -->
<!--        	</div>-->
<!--    		<div class="author-one">产品老司机</div>-->
<!--    		<div class="author-one">产品个体户</div>-->
<!--    		<div class="author-article-pl">-->
<!--        		<ul>-->
<!--            		<li><a href="#" target="_blank">32篇文章</a></li>-->
<!--        		</ul>-->
<!--    		</div>-->
<!--        	<div class="author-next-article">-->
<!--        		<div class="author-one c2">最近文章</div>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a><br>-->
<!--				<a href="#" target="_blank">冷眼看快手、陌陌们的"短视频社交"</a>-->
<!--    			</div>-->
<!--        	</div>-->
    		<div class="box-moder hot-tag">
        		<h3>本文标签</h3>
<!--        		<span class="pull-right project-more"><a href="#" class="transition" target="_blank">全部</a></span>-->
        		<span class="span-mark"></span>
        		<div class="search-history search-hot">
            		<ul>
                   	 <li class="transition"><a href="https://baike.baidu.com/item/%E5%8F%B3%E7%8E%89%E7%B2%BE%E7%A5%9E" target="_blank">右玉精神</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%B1%BE%E6%B2%B3/1060428" target="_blank">汾河</a></li>
						<li class="transition"><a href="https://baike.baidu.com/item/%E4%B9%A0%E8%BF%91%E5%B9%B3" target="_blank">习近平</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E5%9B%9B%E4%B8%AA%E5%85%A8%E9%9D%A2/16391989" target="_blank">四个全面</a></li>

                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%94%9F%E6%80%81%E6%96%87%E6%98%8E%E5%BB%BA%E8%AE%BE" target="_blank">生态文明建设</a></li>

                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%BB%BF%E8%89%B2%E5%8F%91%E5%B1%95" target="_blank">绿色发展</a></li>
                    	<li class="transition"><a href="https://baike.baidu.com/item/%E2%80%9C%E4%BA%94%E4%BD%8D%E4%B8%80%E4%BD%93%E2%80%9D%E6%80%BB%E4%BD%93%E5%B8%83%E5%B1%80?fromtitle=%E4%BA%94%E4%BD%8D%E4%B8%80%E4%BD%93&fromid=9729486" target="_blank">五位一体</a></li>
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E7%A9%BA%E8%B0%88%E8%AF%AF%E5%9B%BD%EF%BC%8C%E5%AE%9E%E5%B9%B2%E5%85%B4%E9%82%A6" target="_blank">汾河</a></li>-->
<!--                    	<li class="transition"><a href="https://baike.baidu.com/item/%E6%81%BD%E4%BB%A3%E8%8B%B1/1009269?fr=aladdin" target="_blank">恽代英</a></li>-->
<!--                    	<li class="transition"><a href="#" target="_blank">革命先驱</a></li>-->
            		</ul>
        		</div>
    		</div>
		<div class="placeholder"></div>
    		<div class="box-moder hot-article">
        		<h3>相关热文</h3>
        		<span class="span-mark"></span>
        		<ul>
                    <li>
                    	<div class="hot-article-img">
                        	<a href="article4.html" target="_blank"><img src="../../images/renminribao.jpg"></a>
                    	</div>
                    	<a href="article4.html" class="transition" target="_blank">人民论坛：永葆共产党人的先锋本色</a>
                	</li>
					<li>
						<div class="hot-article-img">
							<a href="../patriotic_knowledge/article5.html " target="_blank"><img src="../../images/xiqianjingshen.jpg"></a>
						</div>
						<a href="../patriotic_knowledge/article5.html" class="transition" target="_blank">西迁精神跨越时空</a>
					</li>
                    <li>
                    	<div class="hot-article-img">
                        	<a href="article3.html" target="_blank"><img src="../../images/xinhuashe.jpg"></a>
                    	</div>
                    	<a href="article3.html" class="transition" target="_blank">新华国际时评：新冠疫情下的“美国病”</a>
                	</li>
					<li>
						<div class="hot-article-img">
							<a href="../patriotic_knowledge/article2.html" target="_blank"><img src="../../images/makesi.jpg"></a>
						</div>
						<a href="../patriotic_knowledge/article2.html" class="transition" target="_blank">推进马克思主义本土化大众化</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="../patriotic_knowledge/article1.html" target="_blank"><img src="../../images/18yaoyan.jpg"></a>
						</div>
						<a href="../patriotic_knowledge/article1.html" class="transition" target="_blank">揭穿美方18个谣言画皮</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="article2.html" target="_blank"><img src="../../images/logo/huanqiushibao.jpg"></a>
						</div>
						<a href="article2.html" class="transition" target="_blank">环球时报社评：防疫形势难以支持美欧大规模复工</a>
					</li>
					<li>
						<div class="hot-article-img">
							<a href="article1.html" target="_blank"><img src="../../images/logo/huanqiushibao.jpg"></a>
						</div>
						<a href="article1.html" class="transition" target="_blank">环球时报社评：美对华舆论战不断翻新，中国扛得住</a>
					</li>
                </ul>
    		</div>
        </div>
    </div>
</div>
<div class="article-section article-section-last"></div>
</div>

</div>
<footer class="footer">
	<div class="modal-backdrop fade in js-modal-backdrop"></div>
	<div class="container copy-right" >
        <span >本站由  <a href="#">毛泽东思想和中国特色社会主义理论体系概论 小组</a> 负责维护 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维护意见邮箱 ： 3017218091@tju.edu.cn
			<!--            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>-->
        </span>
		<div class="footer-icon-list pull-right">
			<ul class="Qr-codee">
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/weixin_erweima.png"></div>
					<i class="icon icon-footer icon-footer-wx"></i>
				</li>
				</a>
				<a><li class="Qr-code-footer">
					<div class="app-qrcode"><img src="../../images/app_erweima.png"></div>
					<i class="icon icon-footer icon-footer-rss"></i></li>
				</a>
			</ul>
		</div>
	</div>

</footer>
<script language="javascript" type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
     $(".dp-article-box").fadeOut(0);
     $(".js-add-dp-box").click(function() {
          $(".dp-article-box").not($(this).next()).slideUp('fast');
          $(this).next().slideToggle(400);
     });
});
</script>
<script type="text/javascript" src="../../js/mouse.js"></script>
</body>
</html>

